@font-face {
  font-family: "barlowblack";
  src: url("../fonts/barlow/barlow-black-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowbold";
  src: url("../fonts/barlow/barlow-bold-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowextrabold";
  src: url("../fonts/barlow/barlow-extrabold-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowextralight";
  src: url("../fonts/barlow/barlow-extralight-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowlight";
  src: url("../fonts/barlow/barlow-light-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowmedium";
  src: url("barlow-medium-webfont.woff2") format("woff2"), url("barlow-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowregular";
  src: url("../fonts/barlow/barlow-regular-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowsemibold";
  src: url("../fonts/barlow/barlow-semibold-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowthin";
  src: url("../fonts/barlow/barlow-thin-webfont.woff2") format("woff2"), url("../fonts/barlow/barlow-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fjalla_oneregular";
  src: url("../fonts/fjalla/fjallaone-regular-webfont.woff2") format("woff2"), url("../fonts/fjalla/fjallaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0px;
  scroll-behavior: smooth;
  font-size: 18px;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "fjalla_oneregular", sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  display: inline-block;
  line-height: 58px;
}
h1 span {
  display: block;
}

h2 {
  font-family: "fjalla_oneregular", sans-serif;
  color: #1f2352;
  display: inline-block;
  width: 100%;
  margin-bottom: 35px;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
section .content {
  position: relative;
}
section .content .footnotes {
  float: right;
  position: absolute;
  top: 70px;
  right: 0px;
}
section .content .footnotes p {
  font-size: 12px;
  font-family: "fjalla_oneregular", sans-serif;
  margin: 0px;
}
section.firstSection {
  background: #f7f7f7;
  padding: 50px 0px;
}
section.firstSection .content {
  text-align: center;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
}
section.firstSection .content h1 {
  text-align: left;
  color: #00adee;
  margin-top: 120px;
}
section.firstSection .content h1 span {
  color: #e38b16;
}
section.firstSection .content img#newspaper {
  position: relative;
  bottom: 30px;
}
section.firstSection .content a img {
  width: 18px;
}
section.firstSection .content .scrollDown {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
  bottom: 40px;
}
section.firstSection .content .scrollDown span {
  font-family: "barlowextralight", sans-serif;
  color: #b7b7b7;
  font-style: italic;
  display: block;
  font-size: 0.88rem;
  font-weight: 300;
}
section.firstSection .content .scrollDown a {
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
  color: #00adee;
}
section.firstSection .content .scrollDown a i {
  font-size: 1.6rem;
}
section .sectionInner {
  width: 85%;
  margin: 0 auto;
}
section.scrollText .sectionInner {
  position: relative;
  height: 100%;
}
section.scrollText .sectionInner .content {
  background-image: url(../images/second-section-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
section.scrollText .sectionInner .content.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.visualisationS {
  background: #f7f7f7;
}
section.visualisationS .sectionInner .content img {
  width: 100%;
}
section.vizScroll .fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.thirdSection .visualisationContainer {
  height: 450px;
  overflow: hidden;
  position: relative;
}
section.thirdSection .visualisationContainer div#mapVisualisation {
  background: #fff;
  padding: 10px;
  width: 100%;
  height: 100%;
}
section.thirdSection .visualisationContainer .legends {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
section.thirdSection .visualisationContainer .legends span.legendColor {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 3px;
}
section.thirdSection .visualisationContainer .legends span.legendRange {
  font-family: "fjalla_oneregular", sans-serif;
  font-size: 12px;
}
section.thirdSection .visualisationContainer .legends span.legendRange span {
  font-size: 16px;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
section.thirdSection .visualisationContainer .descriptionMap {
  position: absolute;
  left: 20px;
  bottom: 0px;
  width: 40%;
  background: #fff;
}
section.thirdSection .visualisationContainer .descriptionMap p {
  font-size: 9px;
  color: #aaa;
  line-height: 12px;
}
section.thirdSection .visualisationContainer a.fullMapLink {
  font-family: "barlowextralight", sans-serif;
  font-size: 12px;
  color: #e38b16;
  position: absolute;
  bottom: 12px;
  right: 20px;
  text-decoration: underline;
  z-index: 9;
}
section.thirdSection .visualisationContainer img.fullMapImage {
  position: absolute;
  width: 1237.14px;
  height: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.4s;
  transition-delay: 0.01s;
}
section.thirdSection .visualisationContainer img.fullMapImage.show {
  z-index: 8;
  opacity: 1;
  visibility: visible;
  transition-duration: 0.4s;
  transition-delay: 0.01s;
  height: 430px;
}
section.fourthSection {
  background: #ebf4fc;
  position: relative;
  z-index: 9;
}
section.fourthSection .categoriesContainer {
  position: relative;
  padding-bottom: 200px;
}
section.fourthSection .categoriesContainer .categoryTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 8px 0px;
  color: #375D81;
  float: left;
  width: 100%;
  position: relative;
  left: 0px;
  transition-duration: 0.4s;
}
section.fourthSection .categoriesContainer .categoryTitle .categoryColor {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  border-radius: 6px;
  transition-duration: 0.5s;
  position: relative;
}
section.fourthSection .categoriesContainer .categoryTitle .categoryName {
  font-family: "fjalla_oneregular", sans-serif;
  width: calc(100% - 100px);
  line-height: 26px;
}
section.fourthSection .categoriesContainer .categoriesInfo {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 100%;
  height: 142px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 50px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.5s;
  font-family: "fjalla_oneregular", sans-serif;
  text-align: center;
  font-size: 1.2rem;
}
section.fourthSection .categoriesContainer .categoriesInfo p {
  margin: 0px;
  text-align: center;
  width: 100%;
}
section.fourthSection .categoriesContainer .categoriesInfo p span {
  margin-right: 6px;
  text-decoration: underline;
}
section.fourthSection .categoryGroup {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
section.fourthSection .categoryGroup.show .categoryColor {
  transition-duration: 0.4s;
  width: 70px;
}
section.fourthSection .categoryGroup.show .categoriesInfo {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 100%;
  height: 142px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 50px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.5s;
  font-family: "fjalla_oneregular", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0);
  visibility: visible !important;
  opacity: 1 !important;
  transition-duration: 0.5 !important;
}
section.fourthSection .categoryGroup.one .categoryColor {
  background: #990005;
}
section.fourthSection .categoryGroup.one .categoriesInfo {
  background: rgba(153, 0, 5, 0.4);
}
section.fourthSection .categoryGroup.two .categoryColor {
  background: #ffec08;
}
section.fourthSection .categoryGroup.two .categoriesInfo {
  background: rgba(255, 236, 8, 0.4);
}
section.fourthSection .categoryGroup.three .categoryColor {
  background: #00b0ef;
}
section.fourthSection .categoryGroup.three .categoriesInfo {
  background: rgba(0, 176, 239, 0.4);
}
section.fourthSection .categoryGroup.four .categoryColor {
  background: #ff0009;
}
section.fourthSection .categoryGroup.four .categoriesInfo {
  background: rgba(255, 0, 9, 0.4);
}
section.fourthSection .categoryGroup.five .categoryColor {
  background: #9ac051;
}
section.fourthSection .categoryGroup.five .categoriesInfo {
  background: rgba(154, 192, 81, 0.4);
}
section.fourthSection .categoryGroup.six .categoryColor {
  background: #041e60;
}
section.fourthSection .categoryGroup.six .categoriesInfo {
  background: rgba(4, 30, 96, 0.4);
}
section.fourthSection .categoryGroup.seven .categoryColor {
  background: #ffb209;
}
section.fourthSection .categoryGroup.seven .categoriesInfo {
  background: rgba(255, 178, 9, 0.4);
}
section.fourthSection .categoryGroup.eight .categoryColor {
  background: #14a351;
}
section.fourthSection .categoryGroup.eight .categoriesInfo {
  background: rgba(20, 163, 81, 0.4);
}
section.fifthSection .sectionInner .content {
  background-image: url(../images/fifth-section-banner.jpg);
}
section.sixthSection {
  background: #fff;
}
section.sixthSection .visualisationContainer {
  height: 450px;
  overflow: hidden;
}
section.seventhSection {
  background: #ebf4fc;
  z-index: 0;
  position: relative;
}
section.eigthSection {
  background: #fff;
  position: relative;
  z-index: 1;
}
section.eigthSection .sectionInner .content {
  background-image: url(../images/eigth-section-banner.jpg);
}
section.ninthSection {
  background: #fff;
  position: relative;
  z-index: 1;
}
section.ninthSection .visualisationContainer {
  display: inline-block;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
section.ninthSection .visualisationContainer .flexDiv {
  font-family: "fjalla_oneregular", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
section.ninthSection .visualisationContainer .flexDiv .boxContent {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.ninthSection .visualisationContainer .flexDiv .boxContent p {
  margin: 0px;
  text-align: center;
}
section.ninthSection .visualisationContainer .flexDiv .boxContent p.textLeft {
  text-align: left;
  width: 100%;
  transition-duration: 0.5s;
}
section.ninthSection .visualisationContainer .flexDiv .boxContent span.value {
  display: inherit;
  transition-duration: 0.5s;
  opacity: 0;
  max-height: 0px;
  max-width: 0px;
  font-size: 0rem;
}
section.ninthSection .visualisationContainer .flexDiv:hover p.textLeft {
  width: calc(100% - 90px);
  transition-duration: 0.5s;
}
section.ninthSection .visualisationContainer .flexDiv:hover span.value {
  transition-duration: 0.5s;
  opacity: 1;
  font-size: 3rem;
  line-height: 5.2rem;
  max-height: 100px;
  max-width: 100px;
}
section.ninthSection .visualisationContainer .flexDiv .flexDivFull {
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc(-100% - 100px);
  top: 0px;
  background: #333;
  z-index: 9;
  transition-duration: 0.4s;
}
section.ninthSection .visualisationContainer .flexDiv .flexDivFull img {
  position: absolute;
  right: 10px;
  top: 10px;
}
section.ninthSection .visualisationContainer .flexDiv.show .flexDivFull {
  left: 0px;
  transition-duration: 0.4s;
}
section.tenthSection .sectionInner .content {
  background-image: url(../images/tenth-section-banner.jpg);
}
section.eleventhSection {
  background-image: linear-gradient(to right, #97e2ff 50%, #ffd091 50%);
}
section.eleventhSection .linkData {
  text-align: center;
}
section.eleventhSection .linkData h3 {
  font-family: "fjalla_oneregular", sans-serif;
  width: 318px;
  margin: 48px auto 20px auto;
  font-weight: normal;
  line-height: 32px;
}
section.eleventhSection .linkData.left {
  color: #00adee;
}
section.eleventhSection .linkData.right {
  color: #e38b16;
}
section.eleventhSection .linkData .icon img {
  width: 80px;
  height: 80px;
}

.textGroup {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}
.textGroup .textsOuter {
  background: #fff;
  border: 10px solid #00adee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0px;
  border-radius: 18px;
}
.textGroup .textsOuter .texts {
  width: 85%;
  font-family: "fjalla_oneregular", sans-serif;
  line-height: 32px;
}

.textBottom {
  position: relative;
  z-index: 9;
}
.textBottom.whiteTransparent {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
