@font-face {
    font-family: 'barlowblack';
    src: url('../fonts/barlow/barlow-black-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow/barlow-bold-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowextrabold';
    src: url('../fonts/barlow/barlow-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowextralight';
    src: url('../fonts/barlow/barlow-extralight-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow/barlow-light-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowmedium';
    src: url('barlow-medium-webfont.woff2') format('woff2'),
         url('barlow-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow/barlow-regular-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowsemibold';
    src: url('../fonts/barlow/barlow-semibold-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'barlowthin';
    src: url('../fonts/barlow/barlow-thin-webfont.woff2') format('woff2'),
         url('../fonts/barlow/barlow-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fjalla_oneregular';
    src: url('../fonts/fjalla/fjallaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/fjalla/fjallaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}