@import 'fonts';

*{ box-sizing: border-box; }
html, body { margin: 0; padding: 0px; scroll-behavior: smooth; font-size: 18px; }
ul, li{ margin: 0px; padding: 0px; }
li{ list-style: none; }
a{ text-decoration: none; }

// fonts
$fjalla : 'fjalla_oneregular', sans-serif;
$barlow100 : 'barlowthin', sans-serif; $barlow200 : 'barlowextralight', sans-serif; $barlow300 : 'barlowlight', sans-serif; $barlow400 : 'barlowregular', sans-serif; $barlow500 : 'barlowsemibold', sans-serif; $barlow600 : 'barlowbold', sans-serif; $barlow700 : 'barlowextrabold', sans-serif; $barlow800 : 'barlowblack', sans-serif;

// colors
$orange : #e38b16;
$blue : #00adee;

// background
$greyBg : #f7f7f7;
$lightBlue : #ebf4fc;

@mixin fixed {
    position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);
}
// text
h1{
    font-family: $fjalla;
    font-size: 2.6rem;
    font-weight: 600;
    display: inline-block;
    line-height: 58px;
    span{
        display: block;
    }
}
h2{ font-family: $fjalla; color: #1f2352; display: inline-block; width: 100%; margin-bottom: 35px; }

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .content{
        position: relative;
        .footnotes{
            float: right;
            position: absolute;
            top: 70px;
            right: 0px;
            p{
                font-size: 12px;
                font-family: $fjalla;
                margin: 0px;
            }
        }
    }
    &.firstSection{
        background: #f7f7f7;
        padding: 50px 0px;
        .content{
            text-align: center;
            background: #fff;
            border-radius: 6px;
            box-shadow: 0px 0px 6px rgba($color: #000000, $alpha: 0.06);
            
            h1{
                text-align: left;
                color: $blue;
                margin-top: 120px;
                span{
                    color: $orange;
                }
            }
            img#newspaper{
                position: relative;
                bottom: 30px;
            }
            a{
                img{
                    width: 18px;
                }
            }
            .scrollDown{
                display: inline-block;
                width: 100%;
                margin-top: 40px;
                margin-bottom: 10px;
                position: relative;
                bottom: 40px;
                span{
                    font-family: $barlow200;
                    color: #b7b7b7;
                    font-style: italic;
                    display: block;
                    font-size: 0.88rem;
                    font-weight: 300;
                }
                a{
                    text-decoration: none;
                    display: inline-block;
                    margin-top: 8px;
                    color: $blue;
                    i{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .sectionInner{
        width: 85%;
        margin: 0 auto;
    }
    &.scrollText{
        .sectionInner{
            position: relative;
            height: 100%;
            .content{
                background-image: url(../images/second-section-banner.jpg);
                background-repeat: no-repeat;
                background-position: center;
                padding: 0px;
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: auto ;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                &.fixed{
                    @include fixed();
                }
            }
        }
    }
    &.visualisationS{
        background: $greyBg;
        .sectionInner{
            .content{
                img{
                    width: 100%;
                }
            }
        }
    }
    &.vizScroll{
        .fixed{
            @include fixed();
        }
    }
    &.thirdSection{
        .visualisationContainer{
            height: 450px;
            overflow: hidden;
            position: relative;
            div#mapVisualisation{
                background: #fff;
                padding: 10px;
                width: 100%;
                height: 100%;
            }
            .legends {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                span.legendColor{
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    margin-right: 8px;
                    position: relative;
                    top: 3px;
                }
                span.legendRange{
                    font-family: $fjalla;
                    font-size: 12px;
                    span{
                        font-size: 16px;
                        margin-right: 3px;
                        position: relative;
                        top: 1px;
                    }
                }
            }
            .descriptionMap{
                position: absolute;
                left: 20px;
                bottom: 0px;
                width: 40%;
                background: #fff;
                p{
                    font-size: 9px;
                    color: #aaa;
                    line-height: 12px;
                }
            }
            a.fullMapLink{
                font-family: $barlow200;
                font-size: 12px;
                color: $orange;
                position: absolute;
                bottom: 12px;
                right: 20px;
                text-decoration: underline;
                z-index: 9;
            }
            img.fullMapImage{
                position: absolute;
                width: 1237.14px;
                height: 0px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                transition-duration: 0.4s;
                transition-delay: 0.01s;
                &.show{
                    z-index: 8;
                    opacity: 1;
                    visibility: visible;
                    transition-duration: 0.4s;
                    transition-delay: 0.01s;
                    height: 430px;
                }
            }
        }
       
    }
    &.fourthSection{
        @mixin categoryColors($color, $alpha) {
            background: rgba($color, $alpha);
        }
        @mixin categoryinfo {
            position: absolute;
            left: 0px;
            bottom: 15px;
            width: 100%;
            height: 142px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0px 50px;
            visibility: hidden;
            opacity: 0;
            transition-duration: 0.5s;
            font-family: $fjalla;
            text-align: center;
            font-size: 1.2rem;
        }
        background: $lightBlue;
        position: relative;
        z-index: 9;
        .categoriesContainer{
            position: relative;
            padding-bottom: 200px;
            .categoryTitle{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 20px 0px 8px 0px;
                color: #375D81;
                float: left;
                width: 100%;
                position: relative;
                left: 0px;
                transition-duration: 0.4s;
                .categoryColor{
                    width: 48px;
                    height: 48px;
                    margin-right: 15px;
                    border-radius: 6px;
                    transition-duration: 0.5s;
                    position: relative;
                }
                .categoryName{
                    font-family: $fjalla;
                    width: calc(100% - 100px);
                    line-height: 26px;
                }
            }
            .categoriesInfo{
                @include categoryinfo;
                p{
                    margin: 0px;
                    text-align: center;
                    width: 100%;
                    span{
                        margin-right: 6px;
                        text-decoration: underline;
                    }
                }
            }
        }
        .categoryGroup{
            cursor: pointer;
            display: inline-block;
            width: 100%;
            &.show{
                .categoryColor{
                    transition-duration: 0.4s;
                    width: 70px;
                }
                .categoriesInfo{
                    @include categoryinfo;
                    @include categoryColors(transparent, 0);
                    visibility: visible !important;
                    opacity: 1 !important;
                    transition-duration: 0.5 !important;
                }
            }
            &.one{
                .categoryColor{ @include categoryColors(#990005, 1); }
                .categoriesInfo{ @include categoryColors(#990005, 0.4); }
            }
            &.two{
                .categoryColor{ @include categoryColors(#ffec08, 1); }
                .categoriesInfo{ @include categoryColors(#ffec08, 0.4); }
            }
            &.three{
                .categoryColor{ @include categoryColors(#00b0ef, 1); }
                .categoriesInfo{ @include categoryColors(#00b0ef, 0.4); }
            }
            &.four{
                .categoryColor{ @include categoryColors(#FF0009, 1); }
                .categoriesInfo{ @include categoryColors(#FF0009, 0.4); }
            }
            &.five{
                .categoryColor{ @include categoryColors(#9AC051, 1); }
                .categoriesInfo{ @include categoryColors(#9AC051, 0.4); }
            }
            &.six{
                .categoryColor{ @include categoryColors(#041E60, 1); }
                .categoriesInfo{ @include categoryColors(#041E60, 0.4); }
            }
            &.seven{
                .categoryColor{ @include categoryColors(#FFB209, 1); }
                .categoriesInfo{ @include categoryColors(#FFB209, 0.4); }
            }
            &.eight{
                .categoryColor{ @include categoryColors(#14A351, 1); }
                .categoriesInfo{ @include categoryColors(#14A351, 0.4); }
            }
        }   
    }
    &.fifthSection{
        .sectionInner{
            .content{
                background-image: url(../images/fifth-section-banner.jpg);
            }
        }
    }
    &.sixthSection{
        background: #fff;
        .visualisationContainer{
            height: 450px;
            overflow: hidden;
        }
    }
    &.seventhSection{
        background: $lightBlue;
        z-index: 0;
        position: relative;
    }
    &.eigthSection{
        background: #fff;
        position: relative;
        z-index: 1;
        .sectionInner{
            .content{
                background-image: url(../images/eigth-section-banner.jpg);
            }
        }
    }
    &.ninthSection{
        background: #fff;
        position: relative;
        z-index: 1;
        .visualisationContainer{
            display: inline-block;
            width: 100%;
            height: 500px;
            position: relative;
            overflow: hidden;
            .flexDiv{
                font-family: $fjalla;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 400;
                position: relative;
                cursor: pointer;
                .boxContent{
                    width: 100%;
                    height: 100%;
                    padding: 0px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    p{
                        margin: 0px;
                        text-align: center;
                        &.textLeft{
                            text-align: left;
                            width: 100%;
                            transition-duration: 0.5s;
                        }
                    }
                    span.value{
                        display: inherit;
                        transition-duration: 0.5s;
                        opacity: 0;
                        max-height: 0px;
                        max-width: 0px;
                        font-size: 0rem;
                    }
                }
                &:hover{
                    p.textLeft{
                        width: calc(100% - 90px);
                        transition-duration: 0.5s;
                    }
                    span.value{
                        transition-duration: 0.5s;
                        opacity: 1;
                        font-size: 3rem;
                        line-height: 5.2rem;
                        max-height: 100px;
                        max-width: 100px;
                    }
                }
                .flexDivFull{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: calc(-100% - 100px);
                    top: 0px;
                    background: #333;
                    z-index: 9;
                    transition-duration: 0.4s;
                    img{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                }
                &.show{
                    .flexDivFull{
                        left: 0px;
                        transition-duration: 0.4s;
                    }
                }
            }
        }
    }
    &.tenthSection{
        .sectionInner{
            .content{
                background-image: url(../images/tenth-section-banner.jpg);
            }
        }
    }
    &.eleventhSection{
        background-image: linear-gradient(to right, #97e2ff 50%, #ffd091 50%);
        .linkData{
            text-align: center;
            h3{
                font-family: $fjalla;
                width: 318px;
                margin: 48px auto 20px auto;
                font-weight: normal;
                line-height: 32px;
            }
            &.left{
                color: $blue;
            }
            &.right{
                color: $orange;
            }
            .icon{
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}

.textGroup {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
    .textsOuter{
        background: #fff;
        border: 10px solid $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px 0px;
        border-radius: 18px;
        .texts{
            width: 85%;
            font-family: $fjalla;
            line-height: 32px;
        }
    }
}
.textBottom{
    position: relative;
    z-index: 9;
    &.whiteTransparent{
        background: rgba($color: #ffffff, $alpha: 0.9);
        width: 100%;
        height: 100%;
    }
}