
<svg class="map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 750 360" style="enable-background:new 0 0 750 360; width: 100%; height: 100%;" xml:space="preserve">
<style type="text/css">
.map .st0{fill:#21C2FF;stroke:#21C2FF;stroke-width:0.2;stroke-miterlimit:10;}
.map .st1{fill:#398FCA;stroke:#21C2FF;stroke-width:0.2;stroke-miterlimit:10;}
.map .st2{fill:#16547d;stroke:#21C2FF;stroke-width:0.2;stroke-miterlimit:10;}
.map .st3{fill:#001827;stroke:#21C2FF;stroke-width:0.2;stroke-miterlimit:10;}
.map .st4{fill:#E2E2E2;}
.map .st5{display:none;}
.map .st6{display:inline;}
.map .st7{fill:#333333;}
.map .st8{font-family:'Roboto-Black';}
.map .st9{font-size:14.8593px;}
.map .st10{font-size:8.1602px;}
.map .st11{font-size:3.7289px;}
.map .st12{font-size:5.803px;}
.map .st13{font-size:7.4464px;}
.map .st14{font-size:15.2259px;}
.map .st15{font-size:6.2217px;}
.map .st16{font-size:4.8029px;}
.map .st17{font-size:11.0449px;}
.map .st18{font-size:5.0519px;}
.map .st19{font-size:8.7081px;}
.map .st20{font-size:4.0121px;}
.map .st21{font-size:6.8629px;}
.map .st22{font-size:3.2167px;}
.map .st23{font-size:4.6988px;}
.map .st24{font-size:7.6518px;}
.map .st25{font-size:4.0829px;}
.map .st26{font-size:3.9708px;}
</style>
<g id="background">
   <g>
      <polygon class="st4" points="182.9,187 183.8,187.8 182.9,187 		"/>
      <polygon class="st4" points="569.7,206.4 572.7,205.5 571.1,206 		"/>
      <polygon class="st4" points="574.8,216.2 575.4,215.2 575.3,215.4 		"/>
      <polygon class="st4" points="529.2,191 530.5,191.5 529.5,191.1 		"/>
      <polygon class="st4" points="364.7,27.1 366.2,28.4 366.9,27.5 366.9,26.4 364.8,26.1 		"/>
      <polygon class="st4" points="325.2,1.1 324.7,1.1 324.9,1.3 		"/>
      <polygon class="st4" points="326.5,1.1 325.8,1.1 326.1,1.3 		"/>
      <polygon class="st4" points="354.5,12.4 357.2,14.2 358.6,14.6 360,16.1 363.2,17.3 363.8,16.8 365.2,17.9 365.5,19 368.8,20.3 
          370.2,20.1 370,18.3 370.8,17.4 370.6,15.9 369.3,14.1 370.6,10.6 371.9,9.4 372.2,7.5 371.1,6.2 369.3,8 368.5,7.9 367,7 
          365.4,8.6 362.2,8.4 359.6,9.2 357.7,8.8 356.3,7.9 354.7,8.1 353.9,8.8 353.4,8.1 351.7,8.9 351.4,11.3 353,12.7 		"/>
      <polygon class="st4" points="374.4,10.1 376.4,10 377.5,8.6 377.7,7 379.7,5.5 379.8,2.2 380.9,1.1 376.6,1.1 376.5,1.5 
          375.8,2.5 375.2,2.5 374.8,2.7 375,4.1 374.8,5.5 374,6.5 373.1,6.9 372.8,7.5 372.8,8.6 		"/>
      <polygon class="st4" points="205.8,1.9 206.3,1.1 204.3,1.1 204.3,1.9 		"/>
      <polygon class="st4" points="206,2.7 205.9,4.2 206.5,4.9 207.6,3.9 209.5,3.9 208.7,4.9 209.2,6.8 208.5,8.5 208.6,12.2 
          207.9,15 207.4,15.8 207.9,16.2 210,14.7 213,15.9 214.3,16.7 216.4,15.5 218.3,15.4 218.7,14.8 218.7,14.8 219.9,15.1 222,15.4 
          224.9,18.2 224.6,18.6 226,21.9 228.3,24.3 230.7,24.6 232.8,23.5 232.8,22.3 233.8,21.5 236.5,21.1 238.7,18.9 241.3,18.6 
          242.4,17.9 245.4,18.7 247.3,19 247.8,18.4 249,18.4 250.2,19.3 251.4,18.4 252.1,17.1 253.4,18.3 254.9,19 256.6,16.3 
          256.6,14.8 261,12.8 263.4,12.7 264,11.8 263.4,11.2 263.7,9.1 265.9,5.9 265.9,4.2 268.2,3.6 269.8,2.1 269.1,1.1 220.9,1.1 
          207.8,1.1 208.1,1.6 		"/>
      <path class="st4" d="M447.6,21.3c0,0,0.9-0.4,0.9-0.4l0.5-0.7l-0.6-0.3l-1.1,0.4l-0.3,0.5L447.6,21.3z"/>
      <polygon class="st4" points="448.7,11.4 449.3,12.1 450,12.1 450.3,11.7 451.1,11.3 450.9,10.8 450.5,10.7 450.3,11 449.5,10.3 
          448.6,10.2 447.4,11.2 447.1,11.7 447.9,11.5 		"/>
      <path class="st4" d="M433.5,15.1c0.1,0,0.6-0.4,0.6-0.4l0-0.6l-0.6-0.2V15.1z"/>
      <polygon class="st4" points="433.2,20.9 433.8,20.9 434.6,20.7 434.8,19.9 433.9,19.9 		"/>
      <polygon class="st4" points="434.4,16.9 434.4,16 433.7,16.4 		"/>
      <polygon class="st4" points="432.6,13 432.8,13.5 433.5,13.2 433,12.5 		"/>
      <polygon class="st4" points="460.5,22.5 461,22.1 461.1,21.4 460.2,21.8 458.5,22.4 457,23.7 456.9,24.5 457.1,24.8 456.7,25.5 
          457.2,26 457.8,25.9 458.4,25.1 459.2,24.4 459.9,24.4 459.8,23.9 460.2,23.3 		"/>
      <polygon class="st4" points="424.7,24.8 425.2,23.8 424.5,22.8 424.3,21.9 424.1,22.2 423.7,23 424.1,23.7 424.1,24.5 		"/>
      <polygon class="st4" points="424,20.8 423.8,21.4 424.4,21.4 		"/>
      <polygon class="st4" points="407.8,9.7 407.2,10 407,10.7 408,11.7 408.8,11.9 409,11.5 409.8,11.6 409.3,11 408.7,10.1 		"/>
      <polygon class="st4" points="452.8,27.9 453.2,28.8 453.4,30.3 453.9,30.1 454.4,28.7 453.7,27.8 453.5,27 		"/>
      <polygon class="st4" points="410.5,5.9 411.4,6.2 412.6,4.8 413.7,6.1 415.3,6.3 416,5.3 417.2,5.4 419.1,6.5 420.2,6 420.5,7 
          421.4,6.9 422.1,7.5 423.7,7.8 422.6,8.4 421.6,9.4 420.6,8.6 419.3,8.2 416.5,6.4 415.3,6.8 414.1,7.5 412.8,7 411.8,8.2 
          411,8.5 410.6,9.7 412.1,11.4 413.7,12.2 415.2,13.6 415.3,14.6 414.7,15.3 414.8,16.7 416.1,18.4 417,19.3 417.4,18.4 417,17.7 
          417.6,16.5 418.1,18 420,18.8 420.4,19.9 420.1,21.1 421,22 421,20 421.7,18.4 422.8,18.4 423.4,19.7 425.5,21.1 424.6,19.7 
          424.8,18.7 424.1,17.3 423.1,15 422.2,13.6 422.3,13 423.2,13 424.7,13.8 424.2,14.4 424.7,14.9 425.5,14 427.2,14.6 427.2,14 
          426.6,13.5 426.4,12.9 425.9,12.8 424.7,12 424.8,11.3 423.4,10.2 424.7,9.7 426,9.7 426.7,9.1 428.7,10.4 428.9,11 430.2,11.2 
          430.6,10.4 429.4,8.6 429.8,7 429.3,6.1 426,4 425,3.8 424.5,2.9 423.5,3 423,2.2 421.5,2.1 420.4,1.1 408,1.1 408,1.1 410,3.9 		
          "/>
      <polygon class="st4" points="453.9,26.4 453.9,25.7 453.5,26.3 453.8,26.6 		"/>
      <polygon class="st4" points="423.9,1.1 424.6,1.6 424.8,2.1 425.5,2.4 426,3.2 426.9,3.4 427.5,4.2 428.8,4.9 429.7,4.9 
          430.1,5.5 431,6.8 431.5,7.4 431.4,8.1 431.8,8.9 432.9,9.6 433.5,9.2 434.1,9.6 434.6,8.1 433.4,8 433,8.3 432,7.4 432.1,6.3 
          431.9,5.6 431.9,5 431.3,3.9 429.6,2.2 429.5,2.5 428.5,2.4 428.4,2.1 427.2,1.5 425.9,1 424.8,-0.2 423,0.1 422,1 422.6,1.1 		
          "/>
      <polygon class="st4" points="444,5.6 443.3,5.8 443.3,6.4 444.1,7 445.1,6.5 445.4,5.4 445.1,3.6 444.7,3.3 443.8,2.9 443,3.4 
          443,3.8 443.9,4.5 		"/>
      <polygon class="st4" points="441.6,17.5 442.3,16.6 442.1,15.9 441.5,15.7 440.5,16.6 441,17.4 		"/>
      <polygon class="st4" points="406.9,3.7 407.4,3.6 407.8,3 407.6,1.8 407.1,1.9 406.5,3.1 406.6,3.5 		"/>
      <polygon class="st4" points="406.2,7.8 406.2,7.1 406.6,7.4 406.6,8.2 407.5,8.3 408.4,8.8 408.8,8.1 408.5,7.7 408.4,7.1 
          407.7,6.4 407.9,5.8 407.5,4.8 406.7,4.1 406.7,5.9 406,5.8 405.2,6 405.2,7.5 405.8,8.2 		"/>
      <polygon class="st4" points="444.5,13.1 444.9,13.7 446,12.7 446.2,12 444.7,12.3 		"/>
      <polygon class="st4" points="438.6,17.2 439.2,17.7 439.9,16.8 439.6,16 438.9,16 		"/>
      <polygon class="st4" points="434.4,1.3 434.8,2.1 435.3,2 435.1,0.8 434.4,0.5 433.8,-0.1 433.3,0 434.1,1.2 		"/>
      <polygon class="st4" points="440.6,13.7 440.6,14.3 441.2,13.9 		"/>
      <polygon class="st4" points="439.9,13.5 439.8,12.8 439.2,12.3 438.5,12.5 439.1,13.2 		"/>
      <polygon class="st4" points="435.7,10.8 437.2,12.3 437.8,12.4 437.8,11.6 436.6,10.5 436,9.6 435.4,9.7 435,10.3 		"/>
      <polygon class="st4" points="435.1,30.4 434,29.8 433.5,29.2 432.6,29.4 433.2,28.8 432.7,28 431.6,28.1 431.8,28.6 432.2,28.7 
          431.8,29.1 430.7,29.1 430.4,28.1 430.1,27.9 430,28.5 430.2,29.3 429.6,29.4 429.2,28.6 429.1,29.6 428.6,30.5 428.8,31.6 
          429.8,32 432.2,31.7 433.2,32 434.1,31.6 435.5,32.1 437.1,33 437.3,33.9 439.1,33.8 440.5,32.9 442.2,33 444.8,33 446.6,33 
          447.7,32.4 448.1,31.4 447.9,30.4 447.9,29.8 447.5,30.3 447.4,31 446.5,31.8 445.9,31.2 445.2,31.5 444.4,31.4 444.6,30.7 
          444.2,29.8 443.5,29.8 441.6,29.6 440.1,28.9 438.1,29 436.4,30 		"/>
      <polygon class="st4" points="456.9,20 456.4,20.6 457,20.8 457.7,20.6 457.5,20.1 		"/>
      <polygon class="st4" points="504.8,28.1 505.5,27.5 505.1,27.1 504.3,27.2 502.1,28.5 498.9,29.8 497,29.9 495.6,29.2 494.2,29.2 
          494.1,30.1 493.7,31 492.8,31.3 491.4,30.8 490.5,31.8 489.7,32 489.7,33.6 490.6,34.9 492.2,35.9 494.2,35.8 495,36.3 
          495.8,35.7 497.5,35.3 499,33.9 500.1,33.4 502,33.6 502.1,32.3 501.5,31 503.1,29.1 		"/>
      <polygon class="st4" points="170.6,88 172.1,85.8 172,84.1 169.8,85.3 169.7,86.3 168.2,88.2 169.1,88.4 		"/>
      <path class="st4" d="M144.6,82.9l0.5,0.8l0.1,1.6c0.1,0,0.8-0.6,0.8-0.6l0.1-2.1c0,0-0.7-0.5-1-0.6
          C144.8,82,144.6,82.9,144.6,82.9z"/>
      <polygon class="st4" points="161,90 161.8,89.7 161.6,88 160.4,87.6 159.1,87.6 158.4,89.7 159.8,90.8 		"/>
      <polygon class="st4" points="175.5,81.2 174.3,80.4 173.2,80.4 172.5,82.3 174.1,81.4 		"/>
      <polygon class="st4" points="152.4,89 154.7,87.3 156.2,87.4 156.5,85.5 155.1,85.2 154.5,85.7 152.9,86.3 151.6,86.2 150.5,87.1 
          151.3,88.3 		"/>
      <polygon class="st4" points="143.3,90.8 143.6,91.5 143.9,91.7 144.5,91.3 144.5,90.4 144,90.3 		"/>
      <path class="st4" d="M148.5,87.6l-0.1,0.6l0.5,0.4c-0.1,0,0.3-0.3,0.3-0.3l-0.2-0.6L148.5,87.6z"/>
      <path class="st4" d="M92.3,169.1l-1-0.1l-0.9,0.4l-0.6,0.2l0.4,1.1c0,0,0.9,0.1,1,0.1l1.5-1L92.3,169.1z"/>
      <path class="st4" d="M98,172.6l-0.8,0l-0.3,0.5l0.8,0.6l0.4-0.2l0.4,0c0,0,0.3-0.1,0.3-0.1l-0.1-0.4L98,172.6z"/>
      <polygon class="st4" points="107.5,172.3 107.5,171.1 106.8,171.8 107.1,172.9 		"/>
      <polygon class="st4" points="106.9,175.9 105.9,176.8 106.6,177.8 107.4,177.8 108,177.4 107.7,176.2 		"/>
      <path class="st4" d="M92.6,171.1l0.5,0.9c0,0,0.6-0.5,0.6-0.5l0.1-0.8l-0.7-0.2L92.6,171.1z"/>
      <polygon class="st4" points="104.6,183.6 104.9,184.3 105.7,184 105.1,183.2 		"/>
      <polygon class="st4" points="100.7,183.1 101.3,184.2 101.3,185.8 102.9,186.1 103.3,185 101.9,183.4 		"/>
      <polygon class="st4" points="100,172.7 99.5,173.2 100,173.9 101,173.5 		"/>
      <polygon class="st4" points="656.8,203.5 655.8,203 654.4,203.3 653.4,203.6 652.5,203.4 652.1,202.7 651.2,202.6 650.4,203.3 
          650.2,204.4 649.3,204.8 650.3,205.4 651.2,206.1 652.7,206.4 654.8,206 656.4,205 657.5,205 658,204.3 657.9,203.8 		"/>
      <polygon class="st4" points="640.5,207.1 642.3,207.4 643.9,207.2 642,206.6 		"/>
      <polygon class="st4" points="340.7,43 340.5,43.5 341.6,44.4 342.6,43.6 342,43 		"/>
      <polygon class="st4" points="180.2,240.6 179.5,240.4 179.2,241 179.4,241.6 180.3,242.2 180.9,242.3 180.8,241.3 		"/>
      <polygon class="st4" points="313.8,293.5 314,294.9 314.5,295 315.3,294.4 315.8,293.4 314.6,292.6 		"/>
      <polygon class="st4" points="331,269.8 330.9,267.7 330.4,267.2 328.9,268.8 328.3,270.5 327.4,270.5 327.3,271.6 328.6,272.4 
          330,272.6 		"/>
      <polygon class="st4" points="25,350 24.8,346.4 24,345.9 23.7,344.2 21.2,338.7 21.2,336.8 20.8,334.6 16.1,332.5 13.5,332.6 
          11.5,333.4 10.2,331.6 8.6,331.3 7,329.5 5,328.5 3.5,328.3 0.7,325.2 0.7,360 22.4,360 23.4,357.7 23.9,356 24.8,354.8 
          24.8,353.6 23.8,352.2 24.2,350.7 		"/>
      <path class="st4" d="M549.9,343l-0.9,0.1l-1.5-1.7l-2-1.8l-0.1-1.6l1.2-3l1.5-4.8l0.5-0.7l-0.1-1.1l-0.4-0.4l0.3,0l-8.9-6.3
          l-0.6-0.8l-0.3-0.9l0.3-0.7l-1.4-2.4l-26.2-15.3l-2,0.1l-9.9,0.5l-2.8,0.1l-2.7,0l-4,0l6.7,0l2.8-0.1l-5.3,0.1l-0.2,0l-4.4,0
          l-1.6,0l0,0l-0.6,0.6l-0.6-0.1l-0.4,0.5l0.8,1.2l0.9,0.7l0,0.2l0-0.2l-0.9-0.7l-0.8-1.2l-0.2-0.3l-1.2,0.2l0,1l-0.5,0.5h-1
          l-0.6-0.6l-0.8-0.4l-1.2,0.9l-1.2,0.2l-0.4-0.2l0,0l0.3-0.3l-0.2-1.7l0.9-2.6l0.2-2.6l0-1.9l0.5-0.9l2.8-5l0.6-1.1l2.3-2.5
          l3.7-4.9l0.1-0.8l-0.5-1.2l-0.7-0.9l-0.8-0.6l0.2-1.8l0.4-2.5v-2l0.7-1l0.3-1.2l0.2,0.1l0.1-0.3l-0.3-0.6l0.1-1l0.9-0.8l1.4,0.6
          l1.9,0.7l1.1-0.3l1.3,0.3l0.1,1.1l1.7,0.6h0.8v-1.2l0.9-0.8l0.9,0.2l0.5-0.3h1.2l1.6-0.7l2.5-0.1l1.7,0.5l1.6-0.7l0.8-1.2l1.7-1.1
          l0.8-1.1l0.6-0.2l0.7-0.9l1.3-1.3l0.7,0.3l1.8-2.7l2.4-2.7l-0.5-2.5l-0.7-0.8l-0.3-2.7l-1.2-1.3l-0.6-1.1l-0.8-1.1h-1.4l-0.6-0.6
          l0-0.6l-1.3-0.6l-1.4-2.5l-0.5-0.3l-0.2-1l-1.3-1.3l-0.7-0.9l-3,0l-1.3-0.5l-0.5-0.9l1.1-1.6l0.7-0.4l0.1-1.6l1.6,0.3l1.4-0.3
          l0.7,0.6l0.9,0.2l0.5-0.8l0.9-0.7l0.3-3.4l-0.2-2.6c-0.1-0.4-0.2-0.8-0.8-0.8c-0.5-0.1-0.7-0.3-0.8-0.6c-0.1-0.3,0-0.6,0.1-1
          c0.3-1.3,0.7-2.6,0.6-4c-0.3,0-0.4-0.2-0.4-0.4c-0.4-0.2-0.5-0.5-0.4-0.9c-0.3,0-0.4-0.2-0.4-0.4c-0.3,0-0.4-0.2-0.5-0.4
          c-0.2-0.1-0.4-0.2-0.4-0.5c-0.2-0.1-0.3-0.3-0.4-0.4c-0.4-0.2-0.5-0.5-0.4-0.9c-0.3,0-0.4-0.2-0.4-0.4c-0.4,0-0.7,0-0.9-0.4
          c-1.3,0-1.8-0.7-1.9-1.9c-0.2-3-1.3-6,0-9c0.3-0.6,0.5-1.4-0.6-1.7c-1.4-0.3-2.5,0-2.7,1c-0.1,1-0.6,1.1-1.4,1.2
          c-1.1,0.1-2.2-0.4-3.2,0.4c0.2,0.1,0.4,0.2,0.4,0.5c0.2,0,0.4,0.2,0.5,0.4c0.6,0.3,0.8,0.7,0.8,1.4c0.1,1.5-0.2,3,0.4,4.4
          c0.2,0.6-0.3,0.9-0.8,1.1c-0.2,0.3-0.5,0.4-0.8,0.5c-0.2,0.7-0.6,1.1-1.3,1.3c-0.2,0.3-0.5,0.4-0.8,0.4c0,0.4-0.1,0.7-0.5,0.8
          c0,0.3-0.2,0.4-0.4,0.4c0,0.4,0,0.7-0.4,0.9c0,0.6-0.1,1.2-0.9,1.3c-0.1,0.2-0.2,0.4-0.4,0.4c0,0.1-0.1,0.2-0.2,0.2l-0.9,0.9
          c0.1,0,0.1,0.1,0.1,0.1c-0.1,0.2-0.2,0.3-0.4,0.5l-0.4,0.4c-0.1,0.1-0.3,0.3-0.4,0.5c-0.1,0.2-0.2,0.4-0.4,0.4
          c0,0.3-0.2,0.4-0.4,0.4c-0.8,1.5-2.5,0.6-3.6,1.2c-0.5,0.2-0.9-0.2-1.1-0.7c-0.2,0-0.4-0.2-0.4-0.4c-0.2,0-0.4-0.2-0.5-0.4
          c-0.4,0-0.6-0.1-0.8-0.5c-0.2,0-0.4-0.2-0.5-0.4c-0.2-0.1-0.4-0.2-0.4-0.5c-0.4,0-0.7,0-0.9-0.4c-0.7,0-1.3-0.2-1.7-0.9
          c-0.3-0.1-0.4-0.2-0.4-0.5c-0.7,0-1.5,0-2.4,0.4l-0.9,0.3c0,0,0,0,0,0.1c-0.2,0-0.4,0.1-0.6,0.1c0,0.3-0.2,0.4-0.4,0.5
          c0,0.2,0,0.4,0,0.6c0,2.3,0,2.5-2.2,2.3c-1.5-0.1-2.2,1.1-3.4,1.4c0,0.3-0.2,0.4-0.4,0.4c-0.2,1.3-0.9,1.8-2.2,1.7
          c-1.1-0.1-2.3,0-3.4,0c-0.9,0-1.4-0.3-1.3-1.2c-0.4-0.2-0.4-0.5-0.5-0.8c-3.1-0.1-6.2-0.5-9.3,0.6l-2,0.1
          c-0.4-0.2-0.4-0.5-0.4-0.9c-0.3,0-0.4-0.2-0.4-0.4c-0.2,0-0.4-0.2-0.5-0.4c-0.2-0.1-0.3-0.3-0.4-0.4c-0.4,0-0.6-0.1-0.8-0.5
          c-0.7-0.4-0.1-1.5-1-1.7c-1.1-0.2-2.1-0.6-3.3-0.2c-0.4,0.2-0.8,0.3-1.2,0.4c-0.8,0.2-1.4,0.5-1.4,1.5c0,0.6-0.2,1.1-0.8,1.3
          c-0.1,0.3-0.2,0.4-0.4,0.4c-0.1,0.3-0.2,0.4-0.5,0.5c-0.1,0.3-2.7,0.6-2.9,0.8c-0.3,0.6-0.6-1.6-1-1l-0.3,1.5l-0.5,0.6l-0.5,1.4
          l0.1,2.1l-0.1-0.1l-0.1-2.2l0.5-1.4l0.5-0.7l0.3-1.5l-0.5-1.1l-1.2-2.8l-1.9-2.6l-0.3-0.7l-1.5-1.3l0.4-0.5v-1l-0.8-0.9l0.1-0.3
          v-1l0.6-1l-0.7-1.1l-2.7-0.7l-0.3-1.4l-0.1-1.9l-0.7-1.2l0.6-0.9l-1-0.7l0.8-0.5v-1l-0.8-0.2l-1.7,1.2l-1-1v-1.6l2.3-2.4l0.8-1.2
          l-0.1-1.4l-1.3-0.8l0.3-1l1.4-0.9l0.8-1.5l-0.8-0.8l-0.1-1l1.2-1.2l0.8,0.1l2.3-3.1l0.8-1.7l-0.8-1v-1.8l1.3-1h1.8l1.2,0.8
          l1.3-0.8l1.1-0.4l-0.5-28.3l0,0v-2.6l6.9-0.7l-0.6-14l-2.5-56.7l-0.8-3.6l-0.9-1.9l0.8-2.3l1-2.5v-1.6l-0.8-1.9l0.6-3l0.5-1.2
          l-0.6-2l-1-1.1l-1.3-0.2l-1.3,0.2l-4.8-0.6l-1-0.9l-1.9-0.2l-2.5-0.7l-0.5-0.8l0.5-0.2l-0.1-0.9l-3-1.7h-1.6l-2.5-0.6l-0.6-0.3
          l-0.8,0.7l-1.5-0.8h-0.5l-2.2,1.1l-3.5,0.3l-3,1.5l-1.7,1.7l-0.4,2l-0.9,0.7l-0.2,3.7l1.3,2l0.9,2.9l-0.6,1.6l-1.9,1.9l-0.2,0.7
          l-2.4,2l-1.5,0.6L397,71l-2.7-2.3l-2.2-1.8l-3.3-1.7l-5.3-2.2l-2.3-0.3l-0.8,0.4h-2.8l-2.4-1.2l-2.2-4.3l0.1-2.2l-1.8-2.4
          l-4.6-0.6l-2.4-1.6l-3.9-0.1l-2.2-0.9l-5,0.9l-3.5-0.8l-1.4-1.3l-1.6-0.3l-0.8-0.2l-2.1-1.3l-0.2-0.8l-0.1-1l-1.1-0.6l-0.4,0.3
          l0.1,0.5l-0.5,0.4l-1-0.4l-0.3-1.1l-1,0.2l-2.3-1.6l-1.1-2.1l0.7-2.1l3.6-2.5l2.1-2.1l0.5-0.7l-0.6-0.8l0.8-0.8l-0.3-1l-0.5-0.4
          l0.1-2.3l-2.1-0.8l-1.7-2.3l0.3-1.9l1.7-1.2l0.1-1.3l1.4-2.1v-1.4l-0.6-0.5l-2.5,2.3l-0.9,0.9l-0.7-0.4l-1.1-2.4l-0.7-0.3l0.2-1.2
          l-0.9-0.8l-1.6,0.3l-0.1,0.9l-0.8-1l-1.9,0.4l-2.6,1.3l-1.8,1.6l0,0l-0.4-0.4l-2,0.4l-1.1-0.2l-3,0.9l-1.6-1.4l-1.9-0.7l-0.1,0.8
          l-1.2,1.2l-2.4-0.3l-0.2-1.1l-1-0.8l-1.7,0.4l-0.1,1l-1.5,0.3l-0.6,1.1l-0.9-0.4h-1.1l-1.5,1.1h-1.6l-0.9-1.5l-1.9-0.1l-0.9-0.3
          l-1.9,0.3l-1.5-0.2l-0.7,0.2l-1.3-0.4l-0.9,0.2l-0.7,1.5h-1.5l-1.4-0.5l-1.8,1.8l-1.1-0.1l-1.7-0.9l-1.5,0.5l-2.8,0.1l-1.6-0.2
          l-3.5,2.6l-2,0.3l-1,0l-1.7,1.1l-0.1,1.1l-0.9,1.2h-0.8l-0.5-0.4l-1,0l-0.8,0.5l-0.4,0.6l-2,0.1l-1.7,0.9l-0.9,0.8l-0.2,0.9
          l-1.4,1.5l-2.2,0.7l-1.9,0.1l-1,0l-4-0.3l-0.9-0.9l-0.4-1.4l-0.5-0.2l0,0l-1.3,1.4l-2.3,0.5l-2.3-0.6l-1.2-0.1l-1.5,0.8l-2.2,0.3
          l-1.6-0.3l-2-2.1l-0.8-0.6l-0.3-1.1v-0.8l0.3-0.4l-0.4-0.5l-1.4,0.5l-0.6,0.5l-1.1-0.1l-1.4,1.5l-0.3,3.9l-1.5,2l-0.3,2.9
          l-0.9,1.9l-3.3,3l-0.8,0.1l-1.6,1.1l-2.6,0.9l-2,2.1l-0.8,0l-2.8,1.9l-1.8,0.6l-1,1.5l-3.3,2.4l1.1,2.5l-0.2,1.7l-2.9,2.6
          l-1.8,3.8l-0.1,1.6l1.2,2.4l-0.9,2.6l0.6,0.6l0.8,1l-0.5,2.1l-4.5,5.1l-0.5,2l-2.1,2.2l-2.3,0.2l-5,4.5l-7,1.3l-1.7,2.4l-2.8,3.9
          v2.8l-1.3,0.1l-5,2.6l-0.5,1.4l-1.9,1.1l0.6,1.8l-4.4,6.4l-0.3,2.1l-3.4,3.1l-1,0.5l-1.8,3.9l0.2,1.1l-2.9,3.8l-0.1,0.7l0.9,0.6
          l-1.2,0.5l-2.3,4.2l-0.9,0.2l-1,1.1l0.1,1.8l-0.8,1.5l0.1,2.4l28.6-0.3l-0.3-13.1l0.9-1.9l1.5-1.1l1.8-0.2h2.5l0.3-18.9l22.7,0.4
          l0.3-10l0-0.1l25.9,17.4l0,0l46.8,31l0.8,3.4l1.5,1.4l2.6-0.1l2.1,0.7l1.3,1.6l1.7,0.5l1.4,1.2l-0.1,1.1l-0.7,2.2l0.5,1.1l1.7,0.6
          l3.3-0.4l2.7-0.8l0,0l-0.3,13.8l-0.5,6.5l-1.2,0.7l-0.2,2.5l-0.5,1.6l-3.6,2l-2.1,1.1l-2.1,0.1l-2.1,1.4h-1.4h-3.1l-1.9,0.9
          l-1.6-0.1l-4.9,0.5l-1.7-0.4l-0.2,0.4l-0.3,0.6l-0.3,2l-0.9,1.4v2.1l6.8,4.5l0.1,2.9l2.5,1.9l3.1-1.6l0.8,0.4l0.2,0.9l0.6,0.5
          l0.1,1.4l-0.8,1.1l1.6,2.1l0.5-0.1v1.2l-1.6,1.9l-1.2,0.1l-2.3,1.2l-0.8-0.3l-1.4,0.7l0.1,1.3l-1.2,0.8l0.3,1.5l-1.9,0.4L276,215
          l-7.4-1.9l-0.5,0.1l0,0l-0.5-0.1l-1.7,0.8l-1.6,0.1l-2.7,0.4h-3.7l-0.6,0.3h-5.3l-2.5,0.1l-0.2,1.6l0.5,2.3l0.8,0.6l0.8,2l0.1,2.1
          l-1.5-0.3l-1-0.7l-0.9,0l-1.4,0.9l-1.7,0.3l-2.3-1.2l-0.8-1.1l-1.5-0.7h-1.1l-0.8-0.6h-1l-2.7-1.4l-2.1-1.7l-1.1,0.8l-1.3,2
          l-2.3-0.7l-0.5-0.8l0.4-0.5l-1.9-0.3l-2.3,0.5l-0.1,0.6l-0.6,0.6l-2.9-0.2l-1.7-0.8l-0.9,0.1l-2.1,1.2l-0.6,0.3l-2.7,1v1.1
          l0.6,0.6l0.3,3.3l-0.4,1l0.3,2.5l0.8,0.6l0.9,1.4l-0.1,1l-1.2-0.1l-0.9,0.5v1l1.4,1.5l0.5,0.6l-0.2,1.5l-1.9,4.2l-1.2,0.4
          l-0.1,0.2l-0.3-0.8l-1.1-1l-0.8-0.2l-2.1,1.6l-0.8,0.3l-1.9-2.1l0.3-1.5l0.1-2.8l-1.4-0.8l-0.9-1.7l-1.4-0.6l-3,1l-0.6-0.2
          l-1.7,0.7l0.2-0.7l-0.8-0.3l0.1-1.2l1-0.4v-1.1l-1.4-1.3l0.2-1.2l-1.7-3.2l-0.8-1.2l-1-1.9h-6l-1.9,0.8l-1.1,1.2l-2,1.7v1
          l-2.2,1.2l-1.1,0.1l0.1,0.1l-0.8,1.3l-0.1,1.1l1,0.5l-1,1.8l0.5,1.1l1.4,0.2l0.7,2.3v1.6l1.6,1.7l1.4-0.5l0.1,0.3l-0.6,1.2
          l0.9,0.9l1,1.2l-0.4,0.9l1.6,0.4l3.8,2h0.9h1.8l0.9,0.5l0.2,0.1l-0.5,1l1.2,0.5l1.8,2.6l1.1,0.1l2.7,1.8l0.3,0.2l4.4,4.4l1.5,0.2
          l5.5,4.1l7.1,2.6l0.7,0.2l2.5-2.2h1.6l0.5-0.7l4.9-1.8l0.1-0.7l2.7-0.4l9.5-0.1l3.6-1.1l3.3,1.6l0.3-1.8l1.4-0.3l1,1.9l0.4,0.7
          l3.8,0.5l2.8,1.2l6.2-3l4.3-0.4l3.7-3.1l3.4-1.6l3.9-0.5l0.6-0.1l3.8-2.4l0.7,0.1l2.6,0.3l4.9-1.7l0.3,0.1l-0.3-1.4l0.3-3.6
          l-0.2-1.2l0.1-1l-0.3-3l0.3-1.1l-0.1-0.8l-0.3-0.5l0.2-0.6l-0.2-1.2l-0.1-0.5l0.1-1.5l0.1-1l-0.1-1.3l0.6-0.8l1.1-0.5l0.8-0.1
          l0.7-0.6l0.6-1.3l1-1.8l0.4-1l1-0.9l1,0.1l0.4-0.7l-1.5-1.7l0.1-0.7l0.5-0.9l1.5-0.1l0.3-0.8l-0.7-2.6l0-1.8l-2-1.5l-0.3-1.1
          l0.3-1.5l0.2-0.1l1.1-0.9l-0.1-0.8l-0.8,0l-0.9-2l0.5-0.8l-0.3-0.8l1.5-1.5l1.3,0l-0.1-1l-0.5-0.6l-0.3-1.3l0.3-0.6l0.1-0.4
          l-0.3-0.6l0.2-0.7l1.6-1.3l0.8-0.3l0.6-0.3l1.4-0.3l1.1,0.1l0.6,0l2.2,0l0.6-0.6l1.2-0.1l0.8,0.3l2,0.3l0.9,0.5l1.2,0.2l2.1,0.8
          l0.6,0.8l1.6,2.3l1.4,0.9l0.7-0.3l0.8-1l1-0.1l1.1-0.5l2-0.4l0.3-0.3l1.2,0.1l1.3,1v0.6l1.4,0.5l2.3,1.3l1.5,0.2l2.9,1.1l1.3,0.3
          l1.8-1.2l1.8-2.6l1.5-0.4l3.8,0.2l1.6-0.8l3.2,0.4l2.3,1.1l2,0.1l0.8,0.6l0.6,0.5l1.1-0.2l0.7-1.4l1.5-0.6l0.4-0.9l0.9-0.2
          l1.1,0.4l0.7-0.3l0.2-0.9l0.8-1.3l1.3,0.5l0.9,0.4l1.9,2.4l1,1.7l0.1,0.1l0.6,1.8l0.2,1.1l-0.1,2.2l0.6,1.3l1.3,0.3l0.5,1.2
          l0.1,0.8l0.5,1.9l-0.1,0.9l-1.6,0.7l-1,1.1l-0.8-0.1l-1.4,1.1l-0.2,0.6l-0.8,0.6l-1.2,2.4l-0.8,1.4l0.2,1.1v1.9l-0.3,1.7l-1.2,1.6
          l-1.9,0.6l-1,1l0.3,2.2l-0.5,1l-0.1,1.5l-1.4,1l-1.9,2l-0.7,1.1l0.3,1l-0.3,1.2l-2.2,2.2l-0.6,1.7l0.1,1l-0.8,1.3l-1.1,0.3
          l-0.6,0.8v0.6l-1,1.6l-1.5,0.9l-0.8-0.3l-1.2-0.9l-0.8-1.4l-1.4-0.7l-0.8,0.1l-1.9-0.6l-0.3-0.3l-0.7,0.9l-1.6,0.1l-0.3,0.8
          l0.1,1.4l-2.1,1.6l-0.6,0.8l-1.2,0.8l-1.2,1.1v1l-0.8,0.5l0.1,1.5l0.3,1.7l-0.8,1.8l-1.9,2.1l0,0.9l1,0.5l1.1-0.6l0.9,4.4l1.2,0.2
          l0.6,0.8l2.1-0.9l1.1,1.7l-0.5,0.9v2l1.3,1.8l0.3,2.8l-1,2.5l1,1.1l-1.1,1.1l-0.3,0.3l0.5,1.2l-2.3,2.5l-1.8,3.4l1.8,0.9l0,0.4
          l-0.1,1.7l-1.5,0.2l1.4,2.3l2.2,0.5l-3.1,0.8l-0.8-0.8l-0.2,2l-0.3,3.9l-1.4,1.1l-1.7-0.6l-0.1,0.8l1.5,3.1l0.8,0.6v1.1l1.3,1.7
          v2.2l1.1,1.1l0.8,1.7l1.8,1.5l-0.5,0.4l1.9,2.1l3.2,2.6l0.6,1.6l2.6,1.2l0.2,1.2l1.2,0.5l0.3,0.3l1.4,1.4l0.5,0.9l2.2,1.4l0.1,1.3
          l1.1,1.2l-0.1,1.4l0.8,0.9l0.9,0.9l0.5,2.1l-0.8,1.5l0.4,0.8l0,0l0.4,0.8l2.1,0l0.8,0.7l-2,1.1l0.8,0.9v1l3.9,4.4l0.2,5.6l2.2,3
          l-0.3,2.8L360,360h62.9h49.6h27.2h50.2l-0.2-0.8l-0.4-0.9l0.4-0.1l-0.8-1.9l-0.2-1.6l1-0.8l0.2-1.7l-1.1-1l-0.1-2.6l0.4-1.7
          l0.9-0.6l0.6,0.2l0.4-0.8L549.9,343z M487.1,267.7l0.4,1l0.1,0.6l-0.1,0l-0.2-0.8l-0.4-1L487.1,267.7z M486.1,265.9l0.5,1.1
          l-0.1-0.1L486.1,265.9L486.1,265.9z M477.6,306.5L477.6,306.5L477.6,306.5L477.6,306.5z M489.3,309.4l0.1,0.5L489.3,309.4
          l-0.5-1.7L489.3,309.4z M482.2,262.9l-0.1-0.1l-0.7-1.4l0-0.1L482.2,262.9z M441.1,231.9l0.2,0.1l-0.5,1l0.2,1.2l-0.1-0.1
          l-0.2-1.3L441.1,231.9z M356.3,336.4l-1.3,0.2l0,0L356.3,336.4l0.8-0.8l0,0L356.3,336.4z M357,333L357,333l0.2-0.2L357,333z
           M358.3,331.6l0.8-0.7l0,0l0,0L358.3,331.6z"/>
      <polygon class="st4" points="746.1,4.2 746.7,3.5 747.4,3.5 747.6,4.2 749.1,4.1 750,2.7 750.1,2.5 750,1.9 749.8,1.1 734.2,1.1 
          724.1,1.1 636,1.1 600.8,1.1 597.6,1.1 568.1,1.1 450.5,1.1 450.4,1.2 448.7,2.3 449.3,2.7 450.3,2.8 449.3,3.5 448.7,4.8 
          447.9,4.8 447.1,2.9 446.6,2.6 446.3,3.8 446.8,5.1 446.2,5.8 446.4,6.8 447.6,7.6 447.9,7 449.3,8.2 450.4,8 452,8.9 452.4,10.6 
          451.3,11.8 452.2,12.6 452.3,13.5 453.2,13.5 455,15.3 454.3,16.4 453.2,16.1 452.9,16.9 453.8,17.3 456,16.7 459,16.7 
          458.8,17.3 458.1,18.1 456.6,18.7 454.2,18.6 453.7,19.5 454.6,19.7 455.7,19.3 457.3,19.3 458.1,18.9 458.1,19.9 458.5,20.3 
          459.3,19.3 460.3,18.1 461.3,18 462.1,18.9 463,18.9 464.3,19.7 465,18.8 466.1,19 465.9,19.7 465.3,20 466,21 466.2,21.9 
          467.7,23.2 468.2,22.9 469.8,23.5 471.6,23.3 472.4,22.6 473.8,22.6 474.6,21.9 475.8,22.6 476.7,22.1 476.5,20.4 476.8,19.5 
          476.5,18 479.6,17.7 482.2,17.9 485.6,19.7 486.9,19.7 489.2,22.7 491.1,24 497.6,23.2 499.5,22.4 500.2,22.4 500.5,22.7 
          501.4,22 501.8,20.8 504.8,17.3 505.6,17.2 508.5,18.2 510.3,19 512.5,18.6 512.7,17.9 514.2,16.8 515.4,17.2 515.6,18.2 
          514.5,19.9 513.1,21.1 513.2,21.8 514.5,23.3 514.2,24.3 514.6,24.3 514.2,24.3 514.1,24.4 513.2,24.8 513.5,27 514.7,29.3 
          515.2,31.2 514.8,32.7 514.6,35.5 514.6,35.9 513.6,36.1 513.3,41.2 512.1,43 510.8,44.9 510.8,46.8 510.6,47 509.1,48.8 
          508.5,54 506.5,58.1 504.3,61.1 505.1,61.4 506.5,63.5 507.2,66.1 509.2,69.2 510.8,72.9 510.2,74.6 511.1,77.1 511.9,75.8 
          512,75.7 512,76.4 511.4,78.2 511.4,78.4 511.2,81.1 511.3,84.1 510.6,86.2 510.7,86.9 511.8,86.5 512.1,87.1 513,86.4 
          514.6,87.4 514.2,87.6 517.3,91.1 517.7,92.7 518.4,93 518.6,94.4 520.2,95.9 520.9,95.9 523,99.4 523.1,100.6 523.6,101.8 
          524.7,102 525.1,103.8 525.8,104.8 527.4,105.5 528.7,108.9 529.7,109.6 530.1,111.8 529.7,112.7 529.7,113.7 531.2,114.8 
          531.3,116 532.3,116.6 533.3,115.5 534.9,116.7 537.1,117.8 538.9,119.6 539.5,121.2 540,121.3 540.2,123.1 540.9,123.7 
          541.5,126.1 542.9,127.3 543.4,129.8 543.8,130.6 543.2,133 542.7,133.4 543.2,134.6 543.9,137.2 544.2,139.9 545.5,141 
          545.8,142 549.4,145.9 550.6,146.4 552,146.5 553,147.9 553.7,147.9 555.8,149.7 555.9,150.8 557.7,151.1 557.5,152.2 
          558.4,152.5 560.1,158.7 561.6,159.6 561.7,161.5 567.1,166.9 567.9,166.9 568.4,170 570.7,170.7 571.9,174.3 573.2,174.4 
          574.3,174.9 575.1,173.5 577,172.2 575.7,169.8 576.6,166.4 578.5,165.6 580.7,167.3 585.2,167.5 591.3,170 597.7,173.1 
          598,179.5 611,162 638,153.9 637.6,157.4 644.1,165.7 643.2,168.8 647.3,173.7 648.2,173.4 648.6,173.7 650,173.7 650.9,172.2 
          652.5,172.2 655,170.8 656.5,171 657.7,170.7 658.8,171.4 659.7,171.3 661.4,168.8 661.3,168.5 661.7,168.4 661.7,167.6 
          661.1,167.2 661.2,166.3 661,165.6 662,164.6 662.7,163.9 665.1,164 666.9,163.7 667.8,164 669.1,162.6 669.8,162.1 669.8,159.8 
          672.4,156.7 674,156.2 675,156.7 675.7,156.2 679.3,155.9 679.6,155.2 679,154.7 678.1,152.1 678.5,152 677.8,150.7 677.5,150.7 
          678,149.5 678,148.3 679.2,146 680,145.7 679.5,144.8 679.8,144.7 680.7,143.2 681.4,142.6 682.1,142.9 681.7,143.6 681.6,144.3 
          682.3,144.7 683.2,144.8 684,142.1 684.8,141.4 685.6,139.7 687.3,138.1 690,133.9 690.2,132.9 690.1,131.9 691,130.4 691,129 
          690.6,128.5 689.3,128.2 686.6,126.1 686,124.8 684.7,123.7 684.2,121.8 682.2,119.2 681.2,119.1 679.4,119.5 676.2,118.9 
          674.9,118.9 674,119.4 672.2,118.9 668.2,115.5 668,114.6 665.6,111.6 665.2,107.4 665,105.6 664.8,104.6 664.2,104.8 
          663.8,104.5 663.8,104.3 663.9,103.4 664.4,102.3 664.6,100.3 664.3,100.1 664.6,99.3 664.2,98.8 664.5,98.6 664.8,98.7 
          664.5,98.1 664,98.3 663.4,98.2 663.1,100.1 662.7,100.6 662.3,100.1 662.1,100.8 662.1,101.4 662,102.5 661.6,103.2 657.2,105.9 
          657.2,107.8 653.1,111.3 652.4,112.3 653,112.6 653.4,113.4 651.6,115.4 650.9,114.5 650.3,114.9 649.4,114.9 649.5,116 
          649.1,116.1 648.8,116.8 646.7,117.2 645.1,117.3 644.5,116.5 643.1,116.6 642.5,116.3 641.5,116.5 639,116 636.1,118.2 
          635,117.9 633.9,117.8 632.8,118.3 632.3,115 631.7,115.7 631.2,115.3 631.1,115.3 630.7,115.5 630.1,114.4 630.2,113.6 
          630.8,112.8 629.6,112.9 629.4,112.6 629.4,112.6 630.2,112.4 630.7,108.9 630,107.5 629.5,107.5 629.2,105 629.6,105 
          630.1,102.7 629.8,102.2 629.2,102.2 629.1,101.5 627.8,100.5 627.3,100.5 627.1,101.1 626.5,101.2 626.5,101.8 626,102.2 
          626.3,103.3 626,103.3 626.4,105.5 626,105.2 625.4,105.2 625.2,107.4 625.5,108.4 626,109 626,110.5 625.6,110.7 625.2,110.9 
          624,109.3 623.7,107.4 620.1,102.9 619.2,101.1 620,101.4 620,100.6 618.7,97.1 618.7,96.3 617.8,94.9 617.1,94.9 614.8,91.5 
          613.9,91.5 612.9,90.3 613,89.8 613.4,89.7 614,90.1 613.4,89.3 612.3,89 609.8,88.4 608.5,84.8 607.7,83.1 606.8,82.6 
          606.8,81.4 606.3,81.7 605.8,81 605,80.1 605.3,79.9 605.5,79.9 604.7,79 604.7,77.8 604.2,76.7 603.9,77.4 601.1,75.5 
          605.2,74.7 604.5,71.5 604.6,71.1 605.4,69.5 606.1,69.1 606.1,69.1 606.1,69.1 606.8,68.9 606.7,69.3 607.8,70.7 608.7,70.6 
          609.5,69.9 609.5,68.6 608.5,67.7 609.3,67.8 610.3,67.8 610.7,67.3 610.4,68.1 610.2,69 611.8,69.7 612.5,69.5 613.2,70.8 
          613.9,70.8 616.1,69 616.8,69.3 618.4,71.3 618.5,72.7 621.1,75.8 621.3,78 622.1,78.5 623.2,78.4 623.9,79.7 623.4,79.7 
          622.9,79.4 622.6,79.7 623.9,80.8 624.5,80.6 624.8,81.7 627,86.5 628.4,87.4 631,87.1 632.9,87.7 633.6,88.5 635.9,88.7 
          636.2,89.1 637.6,89.2 637.8,89.9 636.9,90.6 639,92.9 640.7,93.2 641.8,94 643,94.2 645.5,96.4 646.2,96 648,95.7 650.3,96.3 
          653.1,98.2 655.6,96.2 658.6,94.3 658.7,93.5 658.8,94.2 660.3,94.1 662.2,92.7 663.6,92.3 666.1,92.6 666.1,93.1 666.7,93 
          666.9,93.8 668.2,95.6 668.9,98.2 670.3,100.9 670.5,102.8 671.3,103.4 671.5,104.1 675.3,104.1 676.9,104 678.2,105 679.9,103.6 
          680.5,103.7 682.4,105.5 686.4,105.2 688.6,106.2 691.7,106.3 693,106.7 693.6,106.5 694.6,107.4 695.1,107.3 695.4,106.1 
          696.3,105.9 697,107.1 698.8,107.8 701.2,108.7 702.3,108.1 702.6,107.5 703,107.5 703.8,107.5 703.8,108.5 704.4,108.8 
          706.5,107.5 708.1,107.4 708.2,108.1 708.8,107.9 709.8,107 711.4,107.1 712.1,107.3 713.3,107 714.2,107.1 715,107.1 
          715.1,106.3 715.7,105.6 717.1,106.5 718.1,106.5 718.3,105.9 719,106.1 719.5,106.9 720.6,106.9 721.6,107.6 722.7,107.6 
          724.3,106 726.2,106 727.4,106.3 728.4,105.6 729.6,105.6 729.8,105.1 730.3,105.5 732.4,105.8 734.1,105.1 736.2,105.1 
          737.8,106.3 738.4,107.9 738.1,109.1 738.4,109.3 738,109.4 738,110 739.2,110 741.3,109 741.3,110.5 742.9,112.3 743.3,114.8 
          743.5,115.1 743.5,116.1 742.9,116.5 743.4,116.6 744,116.6 744.5,118.1 745.8,118 747.8,118 750,119 750,46.3 749.7,47.3 
          749.7,48.2 749.1,48.9 749.7,52 748.1,54.3 746.8,52.6 745.9,52.6 745.8,53.5 744.1,53.5 743.3,52.9 741.6,53 741.1,54 738.4,56 
          739.6,56.4 738.8,57.4 736.2,58.6 735.3,58 733.6,58.4 733.1,59.5 732.8,60.6 731.4,61.1 730.5,62.3 730.6,64.2 731.1,66.5 
          731,68 731.6,69.4 731.2,70.8 728.4,72 726,71.9 723.7,72.2 719.9,72.4 717.3,73.1 716.5,73.8 714.2,73.7 711.8,74.3 703.5,74.5 
          693.8,71.8 693.7,71.8 694,71.5 699.1,64.5 694.9,70.2 699.1,64.5 699.7,63.6 698.9,60.8 699.1,58.8 698,56.3 691.7,56.2 
          691.5,53.6 690.8,52.3 691.3,51.3 690.3,48 688.4,44.3 688.7,42.4 691,39.7 690.3,39.7 687.9,39.1 687.9,37.7 687.5,35.1 
          687.1,34.8 688.4,32.9 687.2,32 686.6,31 688.2,30.6 690,29.4 689.9,28.5 690.3,28.1 689.3,26.8 689.9,25.8 689.7,24.8 
          689.8,22.8 689.7,22.6 690.4,22.4 692,22.8 693.2,23.7 694.4,23.7 695.3,22.8 696.5,22.8 698.1,24 698.5,25 699.1,25.6 
          699.9,24.8 701.9,24.5 703,23.3 703.2,22.4 704.1,21.5 703.7,20.6 706,19.4 708.7,18.8 709,18.1 710.1,17.2 711.2,17 711.7,15.1 
          711.7,13.2 713.4,11.5 713.4,10 712.7,9.5 712.8,8.6 713.5,8.3 714.3,7.7 716.2,7.2 716.8,7.2 718.9,5.7 720.6,5.2 722,6 
          723.6,5.7 724.1,6.2 724.4,6.1 725.3,5.9 724.4,6.1 724.1,6.2 725.5,5.8 726.4,5.6 728,6.3 728.8,7.6 729.8,7.6 731,6.6 
          732.2,6.7 733.8,8.7 734.9,9.1 737.2,8.6 738.8,7.7 739.5,6.6 740.4,6.5 741.2,5.7 741.9,6.2 742.7,7.2 745.2,7.4 745.1,6.3 
          744.5,5.6 744.5,4.7 		"/>
   </g>
</g>
<g id="OBJECTS">
<g id="yemen" class="country">
      <text class="label" font-size="45" x="661" y="140">yemen</text>
      <text class="number" font-size="75" x="669" y="182">3</text>
   <polygon class="st0" points="644.1,165.7 637.6,157.4 638,153.9 611,162 598,179.5 597.7,173.1 591.3,170 585.2,167.5 580.7,167.3 
      578.5,165.6 576.6,166.4 575.7,169.8 577,172.2 575.1,173.5 574.3,174.9 573.2,174.4 571.9,174.3 572.4,175.6 573,179.3 
      572.9,181.4 572.1,181.4 572.1,182.2 571,181.9 571.5,182.9 572.2,182.9 572.3,184 574,186.2 574.9,192.8 576.8,194.5 576.9,196.5 
      576.1,197 576.9,198.9 578.4,200.6 578.7,202.3 579.3,203.5 580.7,203.3 581.1,202.8 583.1,203.5 584.3,203.2 585.7,202 587.2,202 
      587.9,202.7 589.3,202.2 590.6,200.3 591.3,200.2 592.1,198.3 593.9,197.2 594.8,196.9 596,196.9 596.2,197.4 598.3,197.3 
      598.7,197.8 600.1,198.1 603.5,196.8 606.2,196.6 607.1,195.8 607.3,194.9 609.8,192.9 610.9,193 611.8,193.7 612.9,193.5 
      613.5,192.8 614,193.2 615,193.2 617,191.5 618.5,189.1 619.8,188.4 620.6,188.5 628.5,186.2 629.2,185.4 633.6,184.6 636.4,183.2 
      637.8,181.9 640.9,181.3 640.7,180.4 640.9,180 640.3,179.4 640.5,177.6 642.9,174.7 645.7,174.1 647.3,173.7 643.2,168.8 	"/>
</g>
<g id="egypt" class="country">
      <text class="label" font-size="45" x="545" y="80">egypt</text>
      <text class="number" font-size="75" x="535" y="122">240</text>
   <polygon class="st1" points="510.8,72.9 509.2,69.2 507.2,66.1 506.5,63.5 505.1,61.4 504.3,61.1 503.3,62.3 501.4,63.1 
      496.8,62.3 493.3,63.3 490.7,61.4 490.3,62.7 491.3,64.1 491.3,65 490.3,63.6 488.8,62.8 488.5,61.5 489.2,61.2 488.6,60.6 
      487.4,60.8 486,60.3 483.5,59.6 483.1,60.1 484.2,60.3 484.4,60.8 483,60.9 481.7,60.8 480.1,61.4 479.6,60.9 479.7,60.6 481,60.4 
      482.2,59.9 480.7,60.1 478.7,60.2 477.9,60.8 476,61.8 475,62.3 473.2,62.9 471.7,64.4 471.4,65 469,65 466.4,63.4 464.8,63.3 
      462.3,63.4 460.3,62.1 459.5,62.1 458.6,62.7 456.6,61.2 454.3,60.8 448.7,60.3 445.9,59.4 442.4,59.6 441.7,59.8 441.7,59.8 
      441.2,61 440.6,64 441.4,65.9 441.4,67.5 440.4,70 439.5,72.2 440.4,74.2 441.2,77.8 443.7,134.5 529.1,133.9 529.2,133.7 
      527.9,133.2 526.3,131.5 525.8,130.6 524.3,130.2 523.4,128.3 522.6,128.7 521.2,128.7 519,127.2 517.9,123.5 518.1,122.5 
      518.1,120.7 517.6,119.8 517.7,119.2 518.3,119.6 520.4,119.7 519.6,118.9 518.9,118.7 517.7,116.9 517.2,116.6 517.2,117.1 
      516.4,116.1 515.7,114.2 512.9,110 511.7,109.3 511.4,107.3 506.9,100.7 506.9,99.1 506.2,98 505.9,95.2 505.2,94.3 505.2,93.5 
      502.7,90.8 502.6,89.8 502.9,88.7 502.3,87.5 498.1,84 497.8,82.9 495.1,79.7 495.1,78.1 493.6,76.2 493.8,75.2 493.7,74.2 
      494,73.7 494.3,74.2 495,74.2 495.5,76 496.1,76.8 496.3,77.7 499,80 499,81.4 499.7,82.8 501.6,83.7 502.1,85 505.5,88.7 
      507.4,89.7 507.6,90.1 507.9,89.3 508.8,88.3 509.4,85.8 508.7,85.1 509.6,83 509.8,81.5 510.8,77.5 511.1,77.1 510.2,74.6 	"/>
</g>
<g id="sudan" class="country">
      <text class="label" font-size="45" x="365" y="170">sudan</text>
      <text class="number" font-size="75" x="370" y="212">19</text>
   <path class="st0" d="M541.6,163.5v-1l-1.6-0.8l-1.5-0.1v-1.4l-3.1-2.1l-1.2-0.3l-1.3-2.4l-1-3.1l0.4-2.7l-0.4-2.8l-1.7-5.1
      l-0.2-1.3l0.2-0.2l0.6,0.7l0.2,0.5l0.3,0l0-0.7l-1.4-1.6l-0.5-2l-0.3-0.4l0-0.3l-0.3-0.3l0.2-0.4l-0.4-0.5l0.2-0.6l0.1-0.6
      l-85.5,0.6l0.6,14l-6.9,0.7v2.6l0,0l0.5,28.3l-1.1,0.4l-1.3,0.8l-1.2-0.8h-1.8l-1.3,1v1.8l0.8,1l-0.8,1.7l-2.3,3.1L428,189
      l-1.2,1.2l0.1,1l0.8,0.8l-0.8,1.5l-1.4,0.9l-0.3,1l1.3,0.8l0.1,1.4l-0.8,1.2l-2.3,2.4v1.6l1,1l1.7-1.2l0.8,0.2v1l-0.8,0.5l1,0.7
      l-0.6,0.9l0.7,1.2l0.1,1.9l0.3,1.4l2.7,0.7l0.7,1.1l-0.6,1v1l-0.1,0.3l0.8,0.9v1l-0.4,0.5l1.5,1.3l0.3,0.7l1.9,2.6l1.2,2.8l0.5,1
      c0.6,0.5,1.2,1,1.7,1.6c1.1,0,2.1,0,3.2,0.2c-0.9-0.1-0.9-0.1-0.1-0.1c0.1-0.1,0.4-0.2,1-0.3c5.2-1.9,10.9,1.7,12.9,6.4
      c0.6,1.3,0.8,2.8,0.8,4.4c0.3,0.3,0.6,0.5,0.9,0.7c3.8,3.2,7.3,7.1,9.2,11.6c1.6,3.7,1.8,7.8,0,11l0.2,0.3l0.8,0.2l0.8,0.9l1.4,1.2
      l1.4,0.5l0.8-0.2l0.5-0.9l0.9-0.5h1.7l0.9,0.1l0.2,0.4l0.6,0l1.5-0.4l0.6-0.8l0.8-0.9l1.6,0.1l0.6,0.4l0.9,1.8l0.8,0.9l0.4,0.6
      l1.9,0.6l0.8,0.7l0.5,1.2l0.4,0.6l0.4,1l0.2,0.8l0.3,0l1.8,0l0.5,0.3l0.1-0.3l-0.3-0.6l0.1-1l0.9-0.8l1.4,0.6l1.9,0.7l1.1-0.3
      l1.3,0.3l0.1,1.1l1.7,0.5h0.8v-1.2l0.9-0.8l0.9,0.2l0.5-0.3h1.2l1.6-0.7l2.5-0.1l1.6,0.5l1.6-0.8l0.8-1.2l1.7-1.1v0l0.8-1.1
      l0.6-0.2l0.7-0.9l1.3-1.3l0.7,0.3l1.8-2.7l2.4-2.7l-0.5-2.5l-0.7-0.8l-0.3-2.7l-1.2-1.3l-0.6-1.1l-0.9-1.1h-1.4l-0.5-0.5l0-0.6
      l-1.3-0.6L512,242l-0.5-0.3l-0.2-1l-1.3-1.3l-0.7-0.9l-3,0l-1.3-0.5l-0.5-1l1.1-1.6l0.7-0.4l0.1-1.6l1.6,0.3l1.4-0.3l0.7,0.5
      l0.9,0.2l0.5-0.8l0.9-0.7l0.2-3.4l-0.2-2.8l0.5-2l1.2-1.8l0-1.5l-0.5-0.8l0.5-1.5l1.5-1.9l0.2-0.9l0.6-0.1l0.8,0.2l1.4-5.3l0.9-2.2
      l2-1.5l0-1.1l1.7-2.9l0.2-1.2l1.4-0.3l0.6,0.1l0.8-2.3l1.9-3.3v-2.4l0.8-2.2l0.4-0.5l-0.4-0.1l-0.3-1.4l-0.9-3l0.1-1.7l0.8-0.8
      l0.1-1.2l1.1-1.8l0.6-3.6l0.8-2.2l0.5-0.7l-0.4-0.6l-0.6-0.4l0.7-1.7v-1.4l0.8-0.5h1.9l0.2-0.8l-0.3-0.7l0.1-0.7l1.4-0.3l0.9-0.7
      l1.6,0.2l0.5-1l1.2-0.2l1.2-0.6l0.9-1.4H541.6z"/>
</g>
<g id="ethiopia" class="country">
      <text class="label" font-size="45" x="590" y="170">ethiopia</text>
      <text class="number" font-size="75" x="595" y="212">45</text>
   <polygon class="st0" points="522,256.4 523.4,256.1 524.5,256.3 524.5,260.6 525.8,262 527.1,262.3 528.8,261.7 530.5,262.1 
      534,261.9 535.4,262.8 538.4,265.6 540.1,266.8 541.3,268.2 542.4,268.6 545,268.6 546.5,269.2 548.4,269 549.7,269.4 550.7,269.4 
      552.2,269.3 554.1,266.4 554.7,265.4 556.3,264.9 557.4,264.9 558.1,264.5 561.5,264 562.5,264.5 563.3,266.1 564.5,266.8 
      567.2,266.3 569,266.4 569.3,266.3 569.9,265.3 572.2,264.1 574.3,263.8 576.2,262.8 577.6,262 578.2,260.5 580,259.6 581.2,259.5 
      582.6,258.6 587,258.5 591.4,258.6 613.8,236.4 604.5,236.5 583.5,230.1 581.7,228.6 579.1,228 578.1,225.8 578.4,223.7 
      576.5,222.8 575.2,218.9 574.8,216.2 575.3,215.4 574,214.7 572.1,215 570.4,216.2 567.7,216.3 567,215.4 568.1,213.8 568.3,212.5 
      569,211.2 568.7,209.4 569.3,208.1 569.7,206.4 571.1,206 569.2,203.4 568.1,203.4 567.7,202.5 567.5,201.1 566.1,199.2 
      564.8,198.9 562.8,196.9 561.1,195.8 560.6,195.1 559.2,195 559,194.5 557,194.2 556.4,193.1 553.9,190.9 552.7,190.6 551.5,189.4 
      550,189.1 548.9,189.4 548.6,189.8 546.4,188 545.1,187.9 544.6,188.5 543.6,187.6 542.2,187.7 540.9,188.9 539.6,188.9 
      536.8,187.9 536.4,187.1 535.6,186.6 533.6,190.7 532.5,190.7 532,191.6 530.5,191.5 529.5,191.1 529.1,191.6 528.4,193.8 
      528.4,196.3 526.4,199.6 525.6,201.9 525,201.8 523.6,202.1 523.4,203.3 521.7,206.2 521.7,207.3 519.6,208.7 518.8,211 
      517.4,216.3 516.6,216.1 516,216.1 515.7,217.1 514.2,219 513.7,220.4 514.1,221.3 514.2,222.8 513,224.6 512.5,226.6 512.7,229.4 
      512.4,232.8 511.5,233.5 511,234.3 510.1,234.1 509.4,233.6 508,233.9 506.5,233.6 506.4,235.2 505.7,235.6 504.6,237.2 
      505.1,238.1 506.3,238.6 509.3,238.5 510,239.4 511.3,240.7 511.5,241.7 512,242 513.4,244.5 514.7,245.1 514.7,245.6 515.2,246.2 
      516.6,246.2 517.4,247.3 518,248.4 519.2,249.7 519.6,252.3 520.3,253.2 520.7,255.7 521.2,255.1 	"/>
</g>
<g id="eritrea" class="country">
      <text class="label" font-size="45" x="570" y="140">eritrea</text>
      <text class="number" font-size="75" x="575" y="182">14</text>
   <polygon class="st0" points="540,165.5 538.8,165.8 538.2,166.8 536.6,166.6 535.8,167.3 534.4,167.6 534.3,168.4 534.6,169.1 
      534.4,169.9 532.5,169.9 531.7,170.4 531.7,171.8 531,173.5 531.6,173.9 532,174.5 531.5,175.3 530.7,177.5 530.1,181.1 529,182.8 
      528.9,184 528.1,184.8 528,186.5 528.9,189.5 529.2,191 530.5,191.5 532,191.6 532.5,190.7 533.6,190.7 535.6,186.6 536.4,187.1 
      536.8,187.9 539.6,188.9 540.9,188.9 542.2,187.7 543.6,187.6 544.6,188.5 545.1,187.9 546.4,188 548.6,189.8 548.9,189.4 
      550,189.1 551.5,189.4 552.7,190.6 553.9,190.9 556.4,193.1 557,194.2 559,194.5 559.2,195 560.6,195.1 561.1,195.8 562.8,196.9 
      564.8,198.9 566.1,199.2 567.5,201.1 567.7,202.5 568.1,203.4 569.2,203.4 571.1,206 572.7,205.5 573.3,204.8 574.5,204.5 
      575.8,203 575.4,202.9 575.2,202.5 574.6,203 573.8,202.6 573.1,202.6 572.4,201.2 572.7,200.7 571.7,199.4 570.8,199.2 
      569.6,196.2 569.1,195.5 569,196 568.5,196 567.4,194.7 566,194.1 564.9,192.3 562.5,189.6 562.1,188.8 560.1,188.4 559.4,187.5 
      558.1,186 557.2,186.4 556.7,186.1 555.6,186.2 555,186.7 554.1,185.9 552.9,184.1 553.4,183.5 552.1,181.7 551.6,181.9 
      551.5,183.4 551.8,183.3 551.9,185.3 550.6,185 550.3,182.8 549.7,181.3 548.7,180.9 548.7,180.3 548.3,178.4 547.8,178.2 
      546.8,173.1 543.8,165.2 542.2,163.5 542.1,163.5 541.1,164.9 	"/>
</g>
<g id="djibouti" class="country">
      <text class="label" font-size="45" x="590" y="190">djibouti</text>
      <text class="number" font-size="75" x="595" y="230">36</text>
   <polygon class="st0" points="573.3,204.8 572.7,205.5 569.7,206.4 569.3,208.1 568.7,209.4 569,211.2 568.3,212.5 568.1,213.8 
      567,215.4 567.7,216.3 570.4,216.2 572.1,215 574,214.7 575.3,215.4 575.4,215.2 577.1,212.1 576.8,211.6 575,211.6 573.9,212.1 
      573.4,212 572.6,211 574.2,211 574.9,209.9 575.9,209.9 577.2,208.4 577.9,208.1 577.7,205.9 577.9,205.2 577.4,205.2 575.8,203.6 
      575.8,203.1 575.8,203 574.5,204.5 	"/>
</g>
<g id="somalia" class="country">
      <text class="label" font-size="45" x="660" y="220">somalia</text>
      <text class="number" font-size="75" x="665" y="260">22</text>
   <polygon class="st0" points="574.8,216.2 575.2,218.9 576.5,222.8 578.4,223.7 578.1,225.8 579.1,228 581.7,228.6 583.5,230.1 
      604.5,236.5 613.8,236.4 591.4,258.6 587,258.5 582.6,258.6 581.2,259.5 580,259.6 578.2,260.5 577.6,262 576.2,262.8 574.3,263.8 
      572.2,264.1 569.9,265.3 569.3,266.3 569,266.4 569.1,266.4 562.5,272.7 562.3,301 567.4,305.6 567.5,305.2 573.4,298.7 574,297.2 
      575.5,295.7 577,295.3 577.6,294.2 578.3,293.9 582.3,289.5 583.4,289.2 588.2,284 590.8,282.1 592.8,280.7 595.2,280.2 
      598.6,277.3 606.5,270.3 610.3,265.7 612.5,263.5 613,262 617.8,255.4 617.9,254.2 620.5,250.5 620.7,248.3 624.8,240.5 
      625.7,239.7 625,238.7 625.1,237.9 626.7,236.2 627.2,236.3 628.3,235 629.9,231.5 632.4,228 632.3,226.1 632.8,225.4 633,223.7 
      632.5,222.7 633.5,221 634.1,220.8 635,220.8 635.2,221.1 635.7,220.8 635.2,220 634.8,219.8 634.9,220.2 633.9,220.3 634.5,219.2 
      634.2,218 633.6,217.1 634.2,215.6 635,215 634.9,214.6 634,214.5 633.6,213.9 634.1,213.2 634.1,212.1 634.6,210.9 635.3,209.8 
      635,209.6 634.2,209.7 632.4,209.1 631.5,208.4 631.6,208.8 631,208.7 630.1,209.5 630.3,209.7 629.7,210.8 629.5,210.6 
      628.2,211.8 626,212.1 625.8,212.7 625.2,212.1 623.1,212.4 621.8,213.5 618.3,214.1 617.6,214.1 616.9,213.7 614.6,213.9 
      612.6,214.9 610.7,214.8 609.6,215.2 608.2,214.5 606.8,214.8 602.5,217.5 600.4,217.8 599,217.1 598.3,217.3 596.3,217.4 
      595.9,217 595.2,217 592.8,218.9 591.7,219 589.8,220.1 589.1,220.9 587.1,221.2 585.3,220.7 583.5,219.1 582.8,218.9 582.3,217.8 
      578,213.1 577.5,213 577.1,212.1 575.4,215.2 	"/>
</g>
<g id="kenya" class="country">
      <text class="label" font-size="45" x="590" y="280">kenya</text>
      <text class="number" font-size="75" x="582" y="321">287</text>
   <polygon class="st2" points="562.5,272.7 569.1,266.4 569,266.4 567.2,266.3 564.5,266.8 563.3,266.1 562.5,264.5 561.5,264 
      558.1,264.5 557.4,264.9 556.3,264.9 554.7,265.4 554.1,266.4 552.2,269.3 550.7,269.4 549.7,269.4 548.4,269 546.5,269.2 
      545,268.6 542.4,268.6 541.3,268.2 540.1,266.8 538.4,265.6 535.4,262.8 534,261.9 530.5,262.1 528.8,261.7 527.1,262.3 525.8,262 
      524.5,260.6 524.5,256.3 523.4,256.1 522,256.4 521.2,255.1 520.7,255.7 518.3,258.3 516.5,261 515.8,260.8 514.5,262.1 513.8,263 
      513.3,263.2 512.4,264.3 512.4,264.3 512.5,264.3 513.2,265.1 513.7,267 514.4,267.4 514.2,268.6 515.2,268.8 515.7,270.4 
      515.7,271.8 517.3,273.4 518.2,275.6 519.2,276 520,276.7 519.4,277.5 520.4,278.4 520.9,279.9 520.7,281.5 519,283.4 519,284.4 
      518.4,286.1 516,286.1 516,286.8 515.3,287.5 514.7,288.8 513.5,289.9 512.7,291.6 511.3,292.9 511.1,294.9 509.2,301.8 
      511.2,301.7 537.5,317 538.9,319.5 538.6,320.1 538.8,321 539.5,321.8 548.3,328.1 549,328.1 550.5,327.5 553.1,323.7 554.1,321.4 
      554.1,319.8 555.3,318.4 556.5,316.5 556,316.2 556.1,315.3 557.1,314.1 557.2,313.6 558.1,313.3 560.2,313.3 561.5,311.5 
      564,310.7 563.5,310 564.4,309 564.9,308.9 567.3,306 567.4,305.6 562.3,301 	"/>
</g>
<g id="uganda" class="country">
      <text class="label" font-size="45" x="418" y="280">uganda</text>
      <text class="number" font-size="75" x="423" y="321">74</text>
   <polygon class="st3" points="489,271.9 489,273.9 488.5,276.3 488.4,278.1 489.2,278.7 489.9,279.6 490.4,280.8 490.3,281.6 
      486.6,286.5 484.4,289 483.7,290.1 481,295.1 480.4,296 480.4,297.9 480.2,300.5 479.3,303.1 479.5,304.7 479.1,305 479.5,305.2 
      480.7,305 481.8,304 482.6,304.4 483.2,305 484.2,305 484.8,304.5 484.8,303.5 486,303.3 486.2,303.6 486.6,303 487.2,303.2 
      487.9,302.6 493.9,302.5 494,302.5 499.3,302.4 509.2,301.8 511.1,294.9 511.3,292.9 512.7,291.6 513.5,289.9 514.7,288.8 
      515.3,287.5 516,286.8 516,286.1 518.4,286.1 519,284.4 519,283.4 520.7,281.5 520.9,279.9 520.4,278.4 519.4,277.5 520,276.7 
      519.2,276 518.2,275.6 517.3,273.4 515.7,271.8 515.7,270.4 515.2,268.8 514.2,268.6 514.4,267.4 513.7,267 513.2,265.1 
      512.5,264.3 512.4,264.3 510.7,265.4 509.9,266.6 508.3,267.4 506.7,266.9 504.1,267 502.6,267.7 501.4,267.7 500.8,268 
      499.9,267.8 499,268.6 499,269.8 498.2,269.8 496.6,269.2 496.4,268.1 495.1,267.8 494,268.1 492.2,267.4 490.8,266.9 489.9,267.7 
      489.8,268.7 490.2,269.3 490,269.6 489.7,270.9 	"/>
</g>
<g id="mauritania" class="country">
   <text class="label" font-size="45" x="115" y="80">mauritania</text>
   <text class="number" font-size="75" x="134" y="120">21</text>
   <polygon class="st0" points="154.1,176.3 155.6,174.9 159.4,174.3 163.1,172.8 164.4,172.8 167.7,173.9 169.6,174.3 171.1,176.3 
      171.1,177 172.1,177.4 173.3,177 173.8,177.3 175,177.2 175.6,177.7 175.8,179.5 177.4,180.8 177.4,182.4 178.9,182.7 179.3,184.2 
      180.6,184.7 182.5,185.9 182.9,187 182.9,187 184.6,185.7 186.8,185.5 187.5,183.5 187.5,182.6 187.5,179.9 189.7,179.2 
      191.4,179.2 191.6,181 192.8,183.3 193.6,183.8 195.3,180.5 198.9,178.9 200.6,179.5 200.6,181.6 201.5,182.4 202.7,181 203.6,181 
      204.4,182.1 205.2,182.4 230.6,182.3 233,175.9 230.8,174.5 225.3,111.3 233.9,111.2 234,111.3 234,111.2 208.1,93.8 208.1,93.9 
      207.8,103.9 185.1,103.5 184.8,122.4 182.3,122.4 180.5,122.6 179,123.7 178.1,125.7 178.4,138.7 149.7,139 149.7,139.3 149,140.9 
      149.1,143.6 150.7,141.8 151.3,143.6 151.9,143.9 152.8,143.2 154.8,146.3 153.9,147.2 154.4,148.7 154,151.1 153,151.1 
      152.2,151.7 154.2,154.9 155.6,162.3 155.1,167.4 153.4,169.8 152.3,174.3 151.9,177.2 153.1,176.3" />
</g>
<g id="mali" class="country">
   <text class="label" font-size="45" x="260" y="75">mali</text>
   <text class="number" font-size="75" x="254" y="116">40</text>
   <polygon class="st0" points="232.7,215.4 232.1,214.3 232.2,212.9 233.6,212.6 233.4,210.6 232.9,209.2 234.2,208.2 236,206.8 
      238,203.1 239.5,201 239.6,200 241.3,197.2 242.2,196.8 242.5,195.8 244.6,195.8 245.4,196 249.2,194.9 249.8,193.4 253.7,190.8 
      259.2,187.8 261,186.3 263.2,185.1 266.6,184.5 268.4,184.3 270.4,185 271.7,185.1 272.2,185.6 272.4,185.2 274.1,185.6 279,185.1 
      280.7,185.3 282.5,184.4 285.6,184.4 287.1,184.4 289.1,183 291.3,182.9 293.4,181.8 297,179.8 297.5,178.2 297.7,175.7 298.8,175 
      299.3,168.6 299.7,154.8 299.6,154.7 297,155.6 293.7,156 292,155.4 291.5,154.3 292.2,152.1 292.2,151 290.9,149.7 289.1,149.3 
      287.9,147.7 285.8,147 283.2,147.1 281.7,145.7 280.8,142.3 234,111.3 233.9,111.2 225.3,111.3 230.8,174.5 233,175.9 230.6,182.3 
      205.2,182.4 204.4,182.1 203.6,181 202.7,181 201.5,182.4 200.6,181.6 200.6,179.5 198.9,178.9 195.3,180.5 193.6,183.8 
      192.8,183.3 191.6,181 191.4,179.2 189.7,179.2 187.5,179.9 187.5,182.6 187.5,183.5 186.8,185.5 184.6,185.7 182.9,187 
      183.8,187.8 183.8,189.1 184.3,190.1 183.5,193 183.7,193.9 185.5,195.6 186.2,197.4 187.1,198.1 187.9,198 188.7,198.7 189,199.6 
      190,200.7 189.9,201.6 189.5,202.4 189.6,203.5 191.4,204.5 191.4,205.7 191,206.6 191,206.7 191.9,207.1 193.4,206.4 194.4,206.8 
      196,207.9 197.8,207.9 199.2,206.9 200.2,206.8 201.5,204.8 202.9,204.8 204.8,205.6 205.5,205.1 206.8,204.6 206.9,205.4 
      208.5,206.7 209.2,208.2 208.8,210.2 209.6,210.8 211.2,211.2 211.2,212 209.9,213.8 209.2,215.6 210.4,215.5 211.2,214.5 
      212,214.5 212,215.8 212.6,216.7 212.6,217.6 214.5,217.6 215.1,218.4 215.2,219.4 217.3,218.2 218.2,218.1 219.9,218.9 
      222.8,219.1 223.4,218.6 223.5,218 225.8,217.5 227.7,217.8 227.3,218.2 227.9,219.1 230.1,219.8 231.4,217.8 232.3,217.2 	"/>
</g>
   
<g id="burkinafaso" class="country">
   <text class="label" font-size="45" x="160" y="160">burkina-faso</text>
   <text class="number" font-size="75" x="178" y="202">42</text>
   <polygon class="st0" points="284.1,203.7 285,202.6 284.8,201.2 284.3,200.7 284.1,199.8 283.3,199.4 280.2,201 277.7,199.1 
      277.6,196.2 270.8,191.6 270.8,189.6 271.7,188.2 272,186.2 272.2,185.6 271.7,185.1 270.4,185 268.4,184.3 266.6,184.5 
      263.2,185.1 261,186.3 259.2,187.8 253.7,190.8 249.8,193.4 249.2,194.9 245.4,196 244.6,195.8 242.5,195.8 242.2,196.8 
      241.3,197.2 239.6,200 239.5,201 238,203.1 236,206.8 234.2,208.2 232.9,209.2 233.4,210.6 233.6,212.6 232.2,212.9 232.1,214.3 
      232.7,215.4 232.3,217.2 232.5,217 234.6,218.7 237.3,220.1 238.3,220.1 239.1,220.7 240.2,220.7 241.7,221.3 242.5,222.4 
      244.8,223.6 246.5,223.3 247.8,222.3 248.8,222.4 249.8,223.1 251.3,223.3 251.3,221.2 250.5,219.2 249.7,218.6 249.2,216.3 
      249.4,214.7 251.9,214.6 257.2,214.6 257.8,214.3 261.5,214.3 264.2,213.9 265.9,213.8 267.5,213.1 268,213.2 268,213.2 
      268.6,213.1 276,215 276.3,214.3 278.2,213.9 277.9,212.4 279,211.6 278.9,210.3 280.3,209.6 281.1,209.9 283.4,208.8 284.6,208.7 
      286.2,206.8 286.2,205.7 285.7,205.7 	"/>
</g>
<g id="senegal" class="country">
   <text class="label" font-size="45" x="90" y="160">senegal</text>
   <text class="number" font-size="75" x="92" y="203">49</text>
   <polygon class="st0" points="154.7,204.1 159.5,204.5 160.8,202.8 163.4,201.7 169.9,201.8 171.7,202.3 171.7,202.2 173,202 
      177.6,202 180.5,203.5 181.7,204.4 183.9,204.3 186.2,205.3 187.3,204.6 188.7,204.6 189.4,205.4 190.9,205.5 191,206.6 
      191.4,205.7 191.4,204.5 189.6,203.5 189.5,202.4 189.9,201.6 190,200.7 189,199.6 188.7,198.7 187.9,198 187.1,198.1 186.2,197.4 
      185.5,195.6 183.7,193.9 183.5,193 184.3,190.1 183.8,189.1 183.8,187.8 182.9,187 182.5,185.9 180.6,184.7 179.3,184.2 
      178.9,182.7 177.4,182.4 177.4,180.8 175.8,179.5 175.6,177.7 175,177.2 173.8,177.3 173.3,177 172.1,177.4 171.1,177 171.1,176.3 
      169.6,174.3 167.7,173.9 164.4,172.8 163.1,172.8 159.4,174.3 155.6,174.9 154.1,176.3 153.1,176.3 151.9,177.2 151.6,179.5 
      149.7,182.9 145.2,187 147.7,188.9 149.2,191.7 150.6,191.9 150.6,193.4 150,193.5 151.8,194.6 150.8,195.3 151,195.9 154.3,196 
      155,195.5 156.3,195.5 158.9,193.6 160.9,192.7 162.1,193.1 163.9,193.2 166.1,194.6 167.5,194.6 170.6,196.5 171.2,196.4 
      171.8,197.3 171.3,198.2 169.7,198.2 167.4,197.2 165.5,196.6 164,196.5 162.3,195.4 161.6,195.7 160.5,196.6 160.1,196.3 
      159.1,196 157.6,197.1 156.2,197.4 155,198.8 150.6,198.8 149.9,199.5 149.9,201.2 149.2,201.9 149.6,202.5 151.2,201.6 
      153.6,202.5 152.1,203.4 151.3,203.2 150.1,202.8 150.7,203.3 150.6,204.7 152.3,205.3 	"/>
</g>
<g id="gambia" class="country">
   <text class="label" font-size="45" x="100" y="180">gambia</text>
   <text class="number" font-size="75" x="103" y="223">25</text>
   <polygon class="st0" points="155,198.8 156.2,197.4 157.6,197.1 159.1,196 160.1,196.3 160.5,196.6 161.6,195.7 162.3,195.4 
      164,196.5 165.5,196.6 167.4,197.2 169.7,198.2 171.3,198.2 171.8,197.3 171.2,196.4 170.6,196.5 167.5,194.6 166.1,194.6 
      163.9,193.2 162.1,193.1 160.9,192.7 158.9,193.6 156.3,195.5 155,195.5 154.3,196 151,195.9 151.4,197 153.2,197.9 154.8,197.5 
      153.7,198.5 151.8,198.6 150.3,196.7 149.1,198 149.9,199 149.9,199.5 150.6,198.8 	"/>
</g>
<g id="guineabissau" class="country">
   <text class="label" font-size="45" x="125" y="245">guinea-bissau</text>
   <text class="number" font-size="75" x="155" y="286">8</text>
   <polygon class="st0" points="166.8,212.6 168.7,211.5 171.2,211 172.3,210.1 172.4,208.8 171.7,208 171.6,205.6 171.9,204.5 
      171.7,202.3 169.9,201.8 163.4,201.7 160.8,202.8 159.5,204.5 154.7,204.1 152.3,205.3 150.6,204.7 150.6,204.7 151.2,205.8 
      153.6,205.9 154.5,206 153.2,207 154.5,208.3 156,208.4 156.4,209.2 157.2,209.3 159,208.7 160.8,208.3 162.7,209.4 162.1,209.8 
      158.5,209.9 159,210.5 160.2,210.6 160.8,211.3 160.4,212 161.2,212 159.5,213.9 162.6,213.6 162.4,214.7 162.8,215.2 164.5,214.7 
      165.3,213 	"/>
</g>
<g id="guinea" class="country">
   <text class="label" font-size="45" x="230" y="200">guinea</text>
   <text class="number" font-size="75" x="232" y="240">36</text>
   <polygon class="st0" points="179.7,226.1 179.7,225.1 181.7,223.4 182.8,222.2 184.6,221.4 190.7,221.4 191.6,223.3 192.5,224.5 
      194.2,227.7 194,228.8 195.4,230.1 195.4,231.2 194.4,231.6 194.3,232.9 195.1,233.2 194.9,233.9 196.6,233.2 197.2,233.4 
      200.2,232.4 201.6,233 202.5,234.7 203.9,235.4 203.7,238.2 203.5,239.8 205.3,241.9 206.1,241.6 208.3,240 209,240.2 210.1,241.3 
      210.5,242 210.2,242.6 210.5,241.8 211.8,241.4 213.7,237.2 213.9,235.7 213.4,235.1 212,233.6 212,232.6 212.9,232.1 214.1,232.3 
      214.3,231.3 213.4,229.9 212.6,229.3 212.3,226.8 212.7,225.7 212.5,222.4 211.9,221.8 211.9,220.7 214.6,219.7 215.2,219.4 
      215.1,218.4 214.5,217.6 212.6,217.6 212.6,216.7 212,215.8 212,214.5 211.2,214.5 210.4,215.5 209.2,215.6 209.9,213.8 211.2,212 
      211.2,211.2 209.6,210.8 208.8,210.2 209.2,208.2 208.5,206.7 206.9,205.4 206.8,204.6 205.5,205.1 204.8,205.6 202.9,204.8 
      201.5,204.8 200.2,206.8 199.2,206.9 197.8,207.9 196,207.9 194.4,206.8 193.4,206.4 191.9,207.1 191,206.7 191,206.6 190.9,205.5 
      189.4,205.4 188.7,204.6 187.3,204.6 186.2,205.3 183.9,204.3 181.7,204.4 180.5,203.5 177.6,202 173,202 171.7,202.2 171.7,202.3 
      171.9,204.5 171.6,205.6 171.7,208 172.4,208.8 172.3,210.1 171.2,211 168.7,211.5 166.8,212.6 165.3,213 164.5,214.7 164.6,214.6 
      165.7,215.9 165.1,218.5 166.7,220.7 168.3,220.9 169.4,221.3 170.1,220.4 171.3,220.9 170.7,221.4 170.7,222.6 171.3,223.2 
      172.8,223.3 173.4,225.5 175.3,226.5 176.4,227.3 177.5,227.2 	"/>
</g>
<g id="nigeria" class="country">
      <text class="label" font-size="45" x="230" y="200">nigeria</text>
      <text class="number" font-size="75" x="232" y="240">78</text>
   <polygon class="st3" points="331.3,258.8 332,257 331.7,255.3 331.7,253.8 332.5,253.2 332.5,252.2 333.7,251.1 334.9,250.3 
      335.5,249.5 337.7,247.9 337.5,246.5 337.9,245.7 339.4,245.7 340.1,244.8 340.5,245.1 342.4,245.7 343.2,245.7 344.5,246.3 
      345.3,247.8 346.5,248.7 347.3,249 348.9,248.1 349.8,246.6 349.8,245.9 350.4,245.1 351.5,244.8 352.3,243.5 352.2,242.4 
      352.8,240.7 355,238.5 355.2,237.3 354.9,236.3 355.6,235.2 357.4,233.2 358.9,232.3 359,230.8 359.6,229.7 359.3,227.5 
      360.3,226.6 362.3,226 363.5,224.4 363.8,222.8 363.8,220.9 363.6,219.8 364.4,218.5 365.5,216.1 366.3,215.4 366.5,214.8 
      367.9,213.7 368.7,213.8 369.7,212.7 371.3,211.9 371.5,211 370.9,209.2 370.9,208.4 370.4,207.2 369.1,206.8 368.5,205.6 
      368.5,203.4 368.4,202.3 367.7,200.5 367.7,200.5 366.6,198.7 364.8,196.3 363.8,196 362.5,195.5 361.7,196.8 361.4,197.7 
      360.7,198 359.7,197.5 358.7,197.8 358.3,198.6 356.8,199.2 356.1,200.6 355.1,200.8 353.6,199.7 351.6,199.7 349.3,198.6 
      346.1,198.2 344.6,199 340.8,198.7 339.3,199.1 337.5,201.7 335.7,202.8 334.4,202.5 331.5,201.5 330,201.3 327.7,200 326.3,199.4 
      326.3,198.9 325,197.9 323.8,197.8 323.6,198.2 321.5,198.5 320.5,199.1 319.5,199.2 318.7,200.1 317.9,200.4 316.5,199.5 
      315,197.2 314.3,196.4 312.2,195.6 311,195.4 310.1,194.9 308.2,194.6 307.4,194.4 306.2,194.4 305.6,195 303.4,194.9 302.8,195 
      301.7,194.9 300.3,195.2 299.7,195.6 298.9,195.9 297.3,197.2 297.1,197.9 297.4,198.5 297.3,198.9 297,199.5 297.3,200.8 
      297.8,201.4 297.9,202.4 296.6,202.4 295.1,203.9 295.4,204.7 294.9,205.4 295.7,207.5 296.5,207.5 296.6,208.3 295.5,209.2 
      295.3,209.3 295,210.8 295.3,211.9 297.3,213.5 297.3,215.2 298.1,217.8 297.8,218.6 296.2,218.7 295.7,219.6 295.6,220.3 
      297.1,221.9 296.7,222.6 295.7,222.5 294.7,223.4 294.4,224.4 293.4,226.2 292.8,227.5 292.1,228 291.2,228.2 290.1,228.6 
      289.6,229.5 289.7,230.8 289.5,231.8 289.4,233.4 289.5,233.9 289.7,235.1 289.5,235.6 289.8,236.1 289.8,236.9 289.6,238 
      289.9,241 289.8,242.1 290,243.3 289.7,246.9 290,248.3 292.8,248.9 295.1,247.9 300.3,250.7 303.2,253.6 305,257 305,259.3 
      305.9,259.8 306.8,262.3 308.6,264 311.2,264.7 318.1,264.3 319.5,263.4 320.5,263.8 323.8,262.7 324.9,263.1 326.8,262.8 
      327.5,260.8 328.8,262.1 329.3,261.8 329.4,261.8 329.4,260.9 	"/>
</g>
</g>
</svg>
<style>
   .map text{
      opacity: 0 !important;
      visibility: hidden !important;
      transition-duration: 0.4s;
      pointer-events: none;
   }
   .map .label, .map .number{
      font-family: 'fjalla_oneregular', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
      display: inline-block;
   }
   .map .number{
      display: block;
      fill: #e38b16;
      font-size: 36px;
   }
   .map .country:hover text{ opacity: 1 !important; visibility: visible !important; transition-duration: 0.4s; }
   .map #background, .country{ transition-duration: 0.4s; }
   .map .transparency{ opacity: 0.1; transition-duration: 0.4s; }
</style>
<script>
   $('.map .country').hover(function(){
   $('.map .country, .map #background').not(this).toggleClass("transparency");
   });
</script>
